servers/cluster01/files/home/opsuser/apps/node-red-mi-01/config/flows.json
[{"id":"9b4a47ac.df0798","type":"tab","label":"RVUnderway2Cassandra","disabled":false,"info":""},{"id":"fc76759.3c44988","type":"CassandraDatabase","z":"","hosts":"172.17.1.113,172.17.1.114,172.17.1.115,172.17.1.116,172.17.1.117","port":"9042","keyspace":"rv"},{"id":"e5af2295.f5018","type":"kafka in","z":"9b4a47ac.df0798","zkquorum":"172.17.1.86:2181,172.17.1.87:2181,172.17.1.88:2181","topics":"rv-underway-email","groupId":"nodered01.dm.marine.ie.01","debug":true,"autoCommit":true,"x":110,"y":140,"wires":[["bd460153.b862"]]},{"id":"3002bfad.27685","type":"csv","z":"9b4a47ac.df0798","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"vessel,time,air_pressure,air_temp,depth,ext_water_temp,fluorescence,hull_temp,humidity,int_water_temp,latitude,longitude,salinity,wind_dir,wind_dir_type,wind_speed","skip":"0","x":746,"y":230,"wires":[["2a36bfc5.7954c"]]},{"id":"2a36bfc5.7954c","type":"function","z":"9b4a47ac.df0798","name":"Write csv file","func":"var fs = global.get('fs');\nvar stream = context.get('stream') || fs.createWriteStream(\"/tmp/underway.csv\", {flags:'a'});\ncontext.set('stream',stream);\nstream.write(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[[]]},{"id":"bd460153.b862","type":"function","z":"9b4a47ac.df0798","name":"Parse rvops email","func":"var simpleParser  = global.get('mailparser').simpleParser;\n\nfunction parseVesselDateTime(data){\n  while(data.length > 0){\n    var parts = data.shift().split(/,/);\n    if(parts[0].startsWith(\"<<<\")){\n      var vessel = parts[0].replace(/^<<<\\s*/,\"\");\n      var date = parts[1];\n      var time = parts[2].replace(/\\s.*$/,\"\");\n      var dateparts = date.split(\"/\");\n      var timestamp = dateparts[2]+\"-\"+dateparts[0]+\"-\"+dateparts[1]+\"T\"+time+\"Z\";\n      vessel = vessel.replace(/([a-z](?=[A-Z]))/g, '$1 ');\n      vessel = vessel.charAt(0).toUpperCase() + vessel.slice(1);\n      return {\n        vessel: vessel,\n        date: date,\n        time: time,\n        timestamp: timestamp\n      };\n    }\n  }\n  return null;\n}\nfunction trim1(s){\n  return s.substring(1,s.length - 2);\n}\nfunction removeEmptyLeader(parts){\n  if(parts[0] == \"\"){\n    parts.shift();\n  }\n  return parts;\n}\nfunction parseHeaders(data){\n  if(data.length && data[0].match(/^<.*batos.*>$/i)){\n    var headers = trim1(data.shift()).split(/,/);\n    return removeEmptyLeader(headers);\n  }\n  return null;\n}\nfunction parseUnitInfo(data){\n  if(data.length && data[0].match(/^<.*degrees.*>$/i)){\n    var unitInfo = trim1(data.shift()).split(/,/);\n    return removeEmptyLeader(unitInfo);\n  }\n}\n//http://www.catb.org/gpsd/NMEA.html\n// Note: set VBW to undefined as spec says 7 but have seen 10 in data...\nvar NMEA_SENTENCE_NFIELDS = { AAM: 6, ALM: 17, APA: 11, APB: 14, BOD: 7,\n  BWC: 14, BWR: 13, BWW: 7, DBK: 7, DBS: 7, DBT: 7, DBN: 17, DBT: 3,\n  DTM: 9, FSI: 5, GBS: 9, GGA: 15, GLC: 14, GLL: 8, GNS: 13, GRS: 15,\n  GST: 9, GSA: 18, GSV: undefined, GTD: 6, GXA: 8, HDG: 6, HDM: 3,\n  HDT: 3, HFB: 5, HSC: 5, ITS: 3, LCD: 14, MSK: 6, MSS: 6, MTW: 3,\n  MWV: 5, OLN: 4, OSD: 10, R00: undefined, RMA: 12, RMB: 15, RMC: 13,\n  ROT: 3, RPM: 6, RSA: 5, RSD: 14, RTE: undefined, SFI: undefined,\n  STN: 2, TDS: 3, TFI: 4, TPC: 7, TRP: 7, TPT: 7, TRF: 13, TTM: 14,\n  VBW: undefined, VDR: 7, VHW: 9, VLW: 5, VPW: 5, VTG: 10, VWR: 9, WCV: 4,\n  WNC: 7, WPL: 6, XDR: undefined, XTE: 7,  XTR: 4, ZDA: 7, ZFO: 4,\n  ZTG: 4\n};\nfunction parseData(data){\n  if(data.length == 0 || !data[0].match(/^<.*>$/)) return null;\n  var arr = removeEmptyLeader(trim1(data.shift()).split(/,/));\n  var result = [];\n  while(arr.length){\n    var v = arr.shift();\n    if(!v.match(/^\\$[A-Z0-9]{5}$/)){\n      result.push(v);\n      continue;\n    }\n    // NMEA message.\n    var nmea_key = v.substring(3);\n    var n = NMEA_SENTENCE_NFIELDS[nmea_key];\n    var parts = [v];\n    if(n){\n      for(var i=0;i<n-1;i++){\n        parts.push(arr.shift());\n      }\n    }else{\n      // just find the checksum field\n      while(arr.length){\n        var f = arr.shift();\n        parts.push(f);\n        if(f.match(/.+\\*[0-9A-F]+$/)) break;\n      }\n    }\n    result.push(parts.join(\",\"));\n  }\n\n  return result.map(x=>x.trim().match(/^[0-9]+(\\.[0-9]+){0,1}$/)?parseFloat(x.trim()):x);\n}\n\nvar parseShipData = function(body){\n  var lines = body.split(/\\r?\\n/);\n  var vdt = parseVesselDateTime(lines);\n  var headers = parseHeaders(lines);\n  var unitInfo = parseUnitInfo(lines);\n  var data = parseData(lines);\n  if(data.length != headers.length){\n    throw(\"mismatched length of data vs. headers\");\n  }\n  for(var i=0;i<headers.length;i++){\n    vdt[headers[i]] = data[i];\n  }\n  var t = {};\n  if(vdt[\"Seapath Latitude\"] !== undefined && vdt[\"Seapath Longitude\"] !== undefined){\n    var degrees = parseFloat(vdt[\"Seapath Latitude\"].substring(0,2));\n    var minutes = parseFloat(vdt[\"Seapath Latitude\"].substring(2,vdt[\"Seapath Latitude\"].length - 1));\n    var direction = vdt[\"Seapath Latitude\"].substring(vdt[\"Seapath Latitude\"].length-1);\n    var latitude = (degrees + minutes/60.0) * (direction == 'N' ? 1.0: -1.0);\n    degrees = parseFloat(vdt[\"Seapath Longitude\"].substring(0,3));\n    minutes = parseFloat(vdt[\"Seapath Longitude\"].substring(3,vdt[\"Seapath Longitude\"].length - 1));\n    direction = vdt[\"Seapath Longitude\"].substring(vdt[\"Seapath Longitude\"].length-1);\n    var longitude = (degrees + minutes/60.0) * (direction == 'W' ? -1.0: 1.0);\n    t.latitude = latitude;\n    t.longitude = longitude;\n  }\n  t.vessel = vdt.vessel;\n  t.humidity = vdt[\"BATOS Humidity Value\"];\n  t.air_pressure = vdt[\"BATOS-Air Pressure\"];\n  t.air_temp = vdt[\"BATOS-Air Temp Value\"];\n  t.hull_temp = vdt[\"Batos Hull Temperature Value\"];\n  t.wind_dir = vdt[\"Batos-Wind Dir\"];\n  t.wind_dir_type = vdt[\"Batos-Wind Dir Type\"];\n  t.wind_speed = vdt[\"Batos-Wind Spd\"];\n  t.depth = vdt[\"Depth Meters from Surface\"];\n  t.fluorescence = vdt[\"Fluorescence value\"];\n  t.ext_water_temp = vdt[\"SBE21 External Water Temp\"];\n  t.int_water_temp = vdt[\"SBE21 Int Water Temp\"];\n  t.salinity = vdt[\"SBE21 Water Salinity\"];\n  t.time = vdt.timestamp;\n  return t;\n}\n\nsimpleParser(msg.payload.value)\n         .then(parsed => {\n           //console.log(JSON.stringify(parsed,null,2));\n           //console.log(parsed.text);\n           if(parsed.text && parsed.text.indexOf(\"<<\")>-1){\n               node.send({status: \"ok\", payload:parseShipData(parsed.text)});\n           }else{\n               node.send({status: \"wrong\", payload: {message: msg.payload}});\n           }\n         })\n         .catch(err => {\n             node.send({status: \"err\", payload: {err:err, message: msg.payload}});\n         });\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["9394b800.773878"]]},{"id":"9394b800.773878","type":"switch","z":"9b4a47ac.df0798","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"neq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":120,"wires":[["c66c9fa7.fa982","50e412ee.80056c"],["48620f1b.6832a"]]},{"id":"48620f1b.6832a","type":"debug","z":"9b4a47ac.df0798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"d7c8304f.67d0d","type":"inject","z":"9b4a47ac.df0798","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["849be5f4.45efd8"]]},{"id":"849be5f4.45efd8","type":"function","z":"9b4a47ac.df0798","name":"inject test message","func":"var x = `Return-Path: <vesselsscs+caf_=rvunderway=mqttinbox.com@gmail.com>\nReceived: from mail-wm1-f44.google.com (mail-wm1-f44.google.com [209.85.128.44])\n by inbound-smtp.eu-west-1.amazonaws.com with SMTP id okihomqct4i8s1nrdivq48gd8ujfv3beu5uurko1\n for rvunderway@mqttinbox.com;\n Fri, 21 Sep 2018 17:23:38 +0000 (UTC)\nX-SES-Spam-Verdict: PASS\nX-SES-Virus-Verdict: PASS\nReceived-SPF: pass (spfCheck: domain of _spf.google.com designates 209.85.128.44 as permitted sender) client-ip=209.85.128.44; envelope-from=vesselsscs+caf_=rvunderway=mqttinbox.com@gmail.com; helo=mail-wm1-f44.google.com;\nAuthentication-Results: amazonses.com;\n spf=pass (spfCheck: domain of _spf.google.com designates 209.85.128.44 as permitted sender) client-ip=209.85.128.44; envelope-from=vesselsscs+caf_=rvunderway=mqttinbox.com@gmail.com; helo=mail-wm1-f44.google.com;\n dkim=pass header.i=@gmail.com;\n dmarc=pass header.from=gmail.com;\nX-SES-RECEIPT: AEFBQUFBQUFBQUFHV24vaGIvMXBNWks4ZWRJVkh5ZS8yZnpDaDYzTlpDNExyUEZsZWlxZUNnRm5ZSTdyUGQ5OUF2aUhweGNOTHRaTmsxUjdKcDN3K0h5MUZPekVHb1NyRFBkRlU2amZrVVdkZkdoeUtRckc1aHFFbTdKclR5NEQrZ3BMR0Q1dng4eDRkS0JDZGlIRjlJQjNnaktORllsUUJqeXZiSHRvdjk3Uy9KbzVKaVV4Q29VM2wvR3FiTkxwWXFDWEl4ekJzeG5lYi9WeWU1OExlYjVBQjFmNWM5YUNPejhQTWpuNFp6N1p5ei9iVWZPS0EwSEZ5TnZreG9JMjJGRjZZM0RLV09Md3FDZHhOS09JaklCdEZHaGRCVjRWYlpPTUkvYldxQ1lkblFzcDNqQUVvQ2U0Uld5VGxISEZqbHAwYU9WcVorZXI3UHpVVmg2QWxPVlBvK1VJQWNMaHM=\nX-SES-DKIM-SIGNATURE: a=rsa-sha256; q=dns/txt; b=AvYP189vMYc//kCY6RgKptgVeYUqmjLyM2b1uYQgtkWh4JXc9CGgJiXUc1C7HbiiKy/rGXjCacXxL/WF2fPFnD8gGgYtSZLaRfHGulwoupR55MLvYIbfNjs905ddBMRf9/RJVD6r9ZqDqCs5sqjoIBBtTbeyKyeMh3kAaF2cmi4=; c=relaxed/simple; s=uku4taia5b5tsbglxyj6zym32efj7xqv; d=amazonses.com; t=1537550618; v=1; bh=lYnLTXSbBsHaTitoLekYACHLOXLS0hkN/IA75d1uM8c=; h=From:To:Cc:Bcc:Subject:Date:Message-ID:MIME-Version:Content-Type:X-SES-RECEIPT;\nReceived: by mail-wm1-f44.google.com with SMTP id 207-v6so4059952wme.5\n        for <rvunderway@mqttinbox.com>; Fri, 21 Sep 2018 10:23:38 -0700 (PDT)\nX-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\n        d=1e100.net; s=20161025;\n        h=x-gm-message-state:delivered-to:dkim-signature:message-id:date\n         :mime-version:from:to:subject:content-transfer-encoding;\n        bh=Kz5ImIg+beRHCfPO+eRT3BuOP2H6tghzw3cJM4aLyjc=;\n        b=N8eE0Ig5SFkRtDLbFdVFoYKq44ySucFkjJj5wHjPEMF+9gAmqecq1DtJJURI7Eu3ZI\n         8U/poN+AZ71PqHmPIykTHwFNo5g11BmT28JMVTkw/ex2pBmkQ9Hmt64czEmM4OOXSDHo\n         b+cXzxF40OLFxxCwB5c5Yrbt6DSzff/6w0Ikw4Ceixra1VY8aNQD010/ewenxxd6MpSx\n         dDIcpytyvo2xlOB/GWTWo52GDGYoG/2TS4/bhTmujEcQNUqOExBm6UXOY0MnefpqYFVn\n         sSsVauDZ1ArYnXmj3zSpNSOsk9j/59AuW+W8mDWxhMhxh+hrj5sYdrttwjdTeQ+EFfg+\n         fysg==\nX-Gm-Message-State: APzg51AmpT1JwYJm88b60JkDnPYu6kE974m1+u1KIQ9GPYQm0vxVhpJ2\n\tYi345vJ/O00s3SxICpQ/1wMwfuX/1OQ0tNdBHY7U93/4aQMMyw==\nX-Received: by 2002:a1c:f60c:: with SMTP id w12-v6mr8676797wmc.80.1537550618141;\n        Fri, 21 Sep 2018 10:23:38 -0700 (PDT)\nX-Forwarded-To: rvunderway@mqttinbox.com\nX-Forwarded-For: vesselsscs@gmail.com rvunderway@mqttinbox.com\nDelivered-To: vesselsscs@gmail.com\nReceived: by 2002:adf:f652:0:0:0:0:0 with SMTP id x18-v6csp2164732wrp;\n        Fri, 21 Sep 2018 10:23:37 -0700 (PDT)\nX-Received: by 2002:adf:a708:: with SMTP id c8-v6mr39777815wrd.56.1537550617087;\n        Fri, 21 Sep 2018 10:23:37 -0700 (PDT)\nARC-Seal: i=1; a=rsa-sha256; t=1537550617; cv=none;\n        d=google.com; s=arc-20160816;\n        b=EWrcHuzYB7pDRJYiQfikQhr148tMNG8xWdgl+BEtXKafuUIr7PeqvxmpKOcwjsSLhE\n         zJ6Q1palvX8VqmY3O8BMta9KyQEjQK7r46bmMubzgokWuun81qcHlqwpXaRuqzYv/Y2u\n         cRzbPmosMFQNwlQ9UG77uEhr+eLSL0WPERqv/V2+fhg5mteNpM+q+zW+ywARTYJQBRIv\n         zbYKlljLz2AcHT9Sp6w1XeA5XZMAiDuKYa4Bmreo/gPG9uK0fCdnAzK1sylMz9Cdqcdw\n         iJklANdPvlbOjg31toCRv9kY1x6JZ71GzsqQVlAmphGsw+bosPdrxMnOTrlqUy5TQGFY\n         N0fg==\nARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;\n        h=content-transfer-encoding:subject:to:from:mime-version:date\n         :message-id:dkim-signature;\n        bh=Kz5ImIg+beRHCfPO+eRT3BuOP2H6tghzw3cJM4aLyjc=;\n        b=njF9x9UEz49GCp/ktlEFdkt7Etb5diIIOJqlqDxneF4FHvp4XIknkaVO/0JtsB9LVh\n         T/aWT2ABSmtbB3jjeZCumsEEcLaXRTXBMVqyqqUaB+hwjTdizTFTp6tGYi0IEdIQhNig\n         KoreoSBmphm7Qv6wshLPprE0Vdw6lfus1hridhGutZAwGMzx+qMwSNSnPnqFxV0mOrQH\n         jl4v3ybWSXCBaGRxtzxg4jIphGz5eM/+SEsOYYEvyenrIF1t4jbr+B0/vM5TWOAerXVE\n         T5PF/erZ3HGHNEzbjT6wvAlQnHzWSdvjR25sEBEcdcakmp7nEnxdUX8PlOhxTX16azgQ\n         HC1A==\nARC-Authentication-Results: i=1; mx.google.com;\n       dkim=pass header.i=@gmail.com header.s=20161025 header.b=NR6Hklhf;\n       spf=pass (google.com: domain of rvcescs@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=rvcescs@gmail.com;\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\nReturn-Path: <rvcescs@gmail.com>\nReceived: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\n        by mx.google.com with SMTPS id 42-v6sor20672997wrb.38.2018.09.21.10.23.36\n        for <vesselsscs@gmail.com>\n        (Google Transport Security);\n        Fri, 21 Sep 2018 10:23:37 -0700 (PDT)\nReceived-SPF: pass (google.com: domain of rvcescs@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;\nAuthentication-Results: mx.google.com;\n       dkim=pass header.i=@gmail.com header.s=20161025 header.b=NR6Hklhf;\n       spf=pass (google.com: domain of rvcescs@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=rvcescs@gmail.com;\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\nDKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\n        d=gmail.com; s=20161025;\n        h=message-id:date:mime-version:from:to:subject\n         :content-transfer-encoding;\n        bh=Kz5ImIg+beRHCfPO+eRT3BuOP2H6tghzw3cJM4aLyjc=;\n        b=NR6HklhfNQ519UEvQb51TkccQGmYkQg14yuvxQFmB1Q3X1voDXKHknoWpGbKNUmYhv\n         8h56S4iUgb9n9o2d3Dr/gpEO9QXMkTxkAI15I/DqjTeOl7zx75no+2WtHGN9PQgaQkam\n         jTE75EYnf/JrFKqfbJ5fXMdvgWU3Fy0D6IcriiuYQjSJpyqKd494PSs+eh2Cy9Zvv6et\n         dMl/Hz4ed3Zd+3rUyrfvNn7vqQAJkTgatcHt78HhkWv9FSaaZ1GEs5W7hlBEBbCS9M/6\n         rR3WO7UXgdMuKqEdMuK7ad11jVJauc/q7sjHvjHAfWj5+UfQTPtgxVQG47BEKs5u6zyb\n         Vj3Q==\nX-Google-Smtp-Source: ANB0VdbjcMtloiVese8rMimyjgOHx9kEjRn5VmgKj727LYfCMXrvsHADYpRyCqZ7XqBNcSFWPzuDmA==\nX-Received: by 2002:adf:ae5a:: with SMTP id u26-v6mr40856053wrd.246.1537550616223;\n        Fri, 21 Sep 2018 10:23:36 -0700 (PDT)\nReturn-Path: <rvcescs@gmail.com>\nReceived: from ceub01.marine.ie ([88.151.229.101])\n        by smtp.gmail.com with ESMTPSA id g188-v6sm7374678wmg.11.2018.09.21.10.23.34\n        for <vesselsscs@gmail.com>\n        (version=TLS1_2 cipher=ECDHE-RSA-AES128-GCM-SHA256 bits=128/128);\n        Fri, 21 Sep 2018 10:23:35 -0700 (PDT)\nMessage-ID: <5ba52917.1c69fb81.6855c.b897@mx.google.com>\nDate: Fri, 21 Sep 2018 10:23:35 -0700 (PDT)\nX-Google-Original-Date: 21 Sep 2018 17:23:26 +0000\nReceived: from CESCS02 (cescs02.celticexplorer.local [10.1.30.55])\n\tby ceub01.marine.ie (Postfix) with ESMTP id 760622801A0\n\tfor <vesselsscs@gmail.com>; Fri, 21 Sep 2018 18:23:26 +0100 (IST)\nMIME-Version: 1.0\nFrom: rvcescs@gmail.com\nTo: vesselsscs@gmail.com\nSubject: ce ship tracker ti20\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: quoted-printable\n\n<<< celticExplorer,09/21/2018,17:23:26 >>>=0D=0A<,BATOS-Air Pressure,BATOS-Air=\n Temp Value,Batos-Hull-Temp-raw,Batos-Wind Dir,Batos-Wind Dir Type,Batos-Wind=\n Spd,BATOS-XDR-C,BATOS-XDR-H,BATOS-XDR-P,Batos Hull Temperature Value,BATOS=\n Humidity Value,Depth Meters from Surface,Fluorescence value,Fluorometer-date,Fluorometer-raw,Hull-Temp-Ti20-raw,SBE21=\n External Water Temp,SBE21 Water Salinity,SBE21 Int Water Temp,Seapath-GGA-raw,Seapath-ZDA-Time-,Seapath=\n Latitude,Seapath Longitude,Seapath Time UTC,Ship-Speed-Log-2-raw,v4.x.x,>=\n=0D=0A<,NONE,NONE,,deg,*NONE*,?,,,,Deg_C,DECIMAL,Meters,PSU,DDMMYY,,,Degrees=\n C,PSU,Degrees C,,HH:MM:SS,?,?,HHMMSS.SS,,v4.x.x,>=0D=0A<,1.0187,14.1,$WIMTW,15.3,C*0A,272,T,13.3,$WIXDR,C,14.1,C,TA*5F,$WIXDR,H,62.0,P,UU*52,$WIXDR,P,1.0187,B,P*03,15.3,62.0,2183.0,=\n 0.311,9/21/18,0  7627 ::  9/21/18 18:23:02 =3D 0.311,$IIMTW,15.26,C,15.06333,35.48248,15.18610,$INGGA,172326.41,5055.091317,N,01300.329379,W,1,12,0.7,-3.07,M,59.72,M,,*43,172326.41,5055.091317N,01300.329379W,172326.41,$VMVBW,14.8,0.2,A,,,V,,V,,V*70,4.6.1.2238,>=\n=0D=0A=0D=0A=0D=0A=0D=0A***********************************************************************************************=\n=0D=0AFrom \"CESCS02\n\n`;\n\nreturn {payload: {value: x}}","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["bd460153.b862"]]},{"id":"c66c9fa7.fa982","type":"debug","z":"9b4a47ac.df0798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":80,"wires":[]},{"id":"b05e1a58.e516c8","type":"cassandra","z":"9b4a47ac.df0798","mydb":"fc76759.3c44988","name":"Write to cassandra","x":849.5,"y":180,"wires":[[]]},{"id":"50e412ee.80056c","type":"function","z":"9b4a47ac.df0798","name":"Convert to CQL","func":"var fields = \"vessel,time,air_pressure,air_temp,depth,ext_water_temp,fluorescence,hull_temp,humidity,int_water_temp,latitude,longitude,salinity,wind_dir,wind_dir_type,wind_speed\".split(\",\");\nvar field_names = fields.join(\",\");\nvar values = [];\nfor(var i=0;i<fields.length;i++){\n    values.push(msg.payload[fields[i]]);\n    fields[i] = \"?\";\n}\nvar placeholders = fields.join(\",\");\nvar topic = \"INSERT INTO underwaylive (\"+field_names+\") values (\"+placeholders+\")\";\nvar newmsg = {\n    topic: topic,\n    payload: values\n}\nreturn newmsg;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":123,"wires":[["b05e1a58.e516c8"]]},{"id":"eb3195ae.7c8478","type":"comment","z":"9b4a47ac.df0798","name":"README","info":"Email messages from the ship (every 30 minutes)\nare sent to a gmail account.\n\nThe gmail account forwards to mqttinbox.com\n\nThe mqttinbox submits the messages (as raw emails)\nto mqtt.marine.ie, so they show up in a kafka queue.\n\nThis process in node-red parses the underway data\nfrom the email message, and stores to cassandra.\n\nERDDAP uses cassandra as the backend for the underway\ndataset.","x":200,"y":40,"wires":[]}]