servers/cluster01/files/home/opsuser/apps/node-red-mi-01/config/flows.json
[{"id":"9b4a47ac.df0798","type":"tab","label":"RVUnderway2Cassandra","disabled":false,"info":""},{"id":"785bcf96.6e76f","type":"tab","label":"ParseCompassBuoyEmails","disabled":false,"info":""},{"id":"b309ddea.dcf7e","type":"tab","label":"CompassBuoy2Cassandra","disabled":false,"info":""},{"id":"fc76759.3c44988","type":"CassandraDatabase","z":"","hosts":"172.17.1.113,172.17.1.114,172.17.1.115,172.17.1.116,172.17.1.117","port":"9042","keyspace":"rv"},{"id":"8ebd00ee.13e12","type":"CassandraDatabase","z":"","hosts":"172.17.1.113,172.17.1.114,172.17.1.115,172.17.1.116,172.17.1.117","port":"9042","keyspace":"compass"},{"id":"e5af2295.f5018","type":"kafka in","z":"9b4a47ac.df0798","zkquorum":"172.17.1.86:2181,172.17.1.87:2181,172.17.1.88:2181","topics":"rv-underway-email","groupId":"nodered01.dm.marine.ie.01","debug":true,"autoCommit":true,"x":110,"y":140,"wires":[["bd460153.b862"]]},{"id":"3002bfad.27685","type":"csv","z":"9b4a47ac.df0798","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"vessel,time,air_pressure,air_temp,depth,ext_water_temp,fluorescence,hull_temp,humidity,int_water_temp,latitude,longitude,salinity,wind_dir,wind_dir_type,wind_speed","skip":"0","x":746,"y":230,"wires":[["2a36bfc5.7954c"]]},{"id":"2a36bfc5.7954c","type":"function","z":"9b4a47ac.df0798","name":"Write csv file","func":"var fs = global.get('fs');\nvar stream = context.get('stream') || fs.createWriteStream(\"/tmp/underway.csv\", {flags:'a'});\ncontext.set('stream',stream);\nstream.write(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[[]]},{"id":"bd460153.b862","type":"function","z":"9b4a47ac.df0798","name":"Parse rvops email","func":"var simpleParser  = global.get('mailparser').simpleParser;\n\nfunction parseVesselDateTime(data){\n  while(data.length > 0){\n    var parts = data.shift().split(/,/);\n    if(parts[0].startsWith(\"<<<\")){\n      var vessel = parts[0].replace(/^<<<\\s*/,\"\");\n      var date = parts[1];\n      var time = parts[2].replace(/\\s.*$/,\"\");\n      var dateparts = date.split(\"/\");\n      var timestamp = dateparts[2]+\"-\"+dateparts[0]+\"-\"+dateparts[1]+\"T\"+time+\"Z\";\n      vessel = vessel.replace(/([a-z](?=[A-Z]))/g, '$1 ');\n      vessel = vessel.charAt(0).toUpperCase() + vessel.slice(1);\n      return {\n        vessel: vessel,\n        date: date,\n        time: time,\n        timestamp: timestamp\n      };\n    }\n  }\n  return null;\n}\nfunction trim1(s){\n  return s.substring(1,s.length - 2);\n}\nfunction removeEmptyLeader(parts){\n  if(parts[0] == \"\"){\n    parts.shift();\n  }\n  return parts;\n}\nfunction parseHeaders(data){\n  if(data.length && data[0].match(/^<.*batos.*>$/i)){\n    var headers = trim1(data.shift()).split(/,/);\n    return removeEmptyLeader(headers);\n  }\n  return null;\n}\nfunction parseUnitInfo(data){\n  if(data.length && data[0].match(/^<.*degrees.*>$/i)){\n    var unitInfo = trim1(data.shift()).split(/,/);\n    return removeEmptyLeader(unitInfo);\n  }\n}\n//http://www.catb.org/gpsd/NMEA.html\n// Note: set VBW to undefined as spec says 7 but have seen 10 in data...\nvar NMEA_SENTENCE_NFIELDS = { AAM: 6, ALM: 17, APA: 11, APB: 14, BOD: 7,\n  BWC: 14, BWR: 13, BWW: 7, DBK: 7, DBS: 7, DBT: 7, DBN: 17, DBT: 3,\n  DTM: 9, FSI: 5, GBS: 9, GGA: 15, GLC: 14, GLL: 8, GNS: 13, GRS: 15,\n  GST: 9, GSA: 18, GSV: undefined, GTD: 6, GXA: 8, HDG: 6, HDM: 3,\n  HDT: 3, HFB: 5, HSC: 5, ITS: 3, LCD: 14, MSK: 6, MSS: 6, MTW: 3,\n  MWV: 5, OLN: 4, OSD: 10, R00: undefined, RMA: 12, RMB: 15, RMC: 13,\n  ROT: 3, RPM: 6, RSA: 5, RSD: 14, RTE: undefined, SFI: undefined,\n  STN: 2, TDS: 3, TFI: 4, TPC: 7, TRP: 7, TPT: 7, TRF: 13, TTM: 14,\n  VBW: undefined, VDR: 7, VHW: 9, VLW: 5, VPW: 5, VTG: 10, VWR: 9, WCV: 4,\n  WNC: 7, WPL: 6, XDR: undefined, XTE: 7,  XTR: 4, ZDA: 7, ZFO: 4,\n  ZTG: 4\n};\nfunction parseData(data){\n  if(data.length == 0 || !data[0].match(/^<.*>$/)) return null;\n  var arr = removeEmptyLeader(trim1(data.shift()).split(/,/));\n  var result = [];\n  while(arr.length){\n    var v = arr.shift();\n    if(!v.match(/^\\$[A-Z0-9]{5}$/)){\n      result.push(v);\n      continue;\n    }\n    // NMEA message.\n    var nmea_key = v.substring(3);\n    var n = NMEA_SENTENCE_NFIELDS[nmea_key];\n    var parts = [v];\n    if(n){\n      for(var i=0;i<n-1;i++){\n        parts.push(arr.shift());\n      }\n    }else{\n      // just find the checksum field\n      while(arr.length){\n        var f = arr.shift();\n        parts.push(f);\n        if(f.match(/.+\\*[0-9A-F]+$/)) break;\n      }\n    }\n    result.push(parts.join(\",\"));\n  }\n\n  return result.map(x=>x.trim().match(/^[0-9]+(\\.[0-9]+){0,1}$/)?parseFloat(x.trim()):x);\n}\n\nvar parseShipData = function(body){\n  var lines = body.split(/\\r?\\n/);\n  var vdt = parseVesselDateTime(lines);\n  var headers = parseHeaders(lines);\n  var unitInfo = parseUnitInfo(lines);\n  var data = parseData(lines);\n  if(data.length != headers.length){\n    throw(\"mismatched length of data vs. headers\");\n  }\n  for(var i=0;i<headers.length;i++){\n    vdt[headers[i]] = data[i];\n  }\n  var t = {};\n  if(vdt[\"Seapath Latitude\"] !== undefined && vdt[\"Seapath Longitude\"] !== undefined){\n    var degrees = parseFloat(vdt[\"Seapath Latitude\"].substring(0,2));\n    var minutes = parseFloat(vdt[\"Seapath Latitude\"].substring(2,vdt[\"Seapath Latitude\"].length - 1));\n    var direction = vdt[\"Seapath Latitude\"].substring(vdt[\"Seapath Latitude\"].length-1);\n    var latitude = (degrees + minutes/60.0) * (direction == 'N' ? 1.0: -1.0);\n    degrees = parseFloat(vdt[\"Seapath Longitude\"].substring(0,3));\n    minutes = parseFloat(vdt[\"Seapath Longitude\"].substring(3,vdt[\"Seapath Longitude\"].length - 1));\n    direction = vdt[\"Seapath Longitude\"].substring(vdt[\"Seapath Longitude\"].length-1);\n    var longitude = (degrees + minutes/60.0) * (direction == 'W' ? -1.0: 1.0);\n    t.latitude = latitude;\n    t.longitude = longitude;\n  }\n  t.vessel = vdt.vessel;\n  t.humidity = vdt[\"BATOS Humidity Value\"];\n  t.air_pressure = vdt[\"BATOS-Air Pressure\"];\n  t.air_temp = vdt[\"BATOS-Air Temp Value\"];\n  t.hull_temp = vdt[\"Batos Hull Temperature Value\"];\n  t.wind_dir = vdt[\"Batos-Wind Dir\"];\n  t.wind_dir_type = vdt[\"Batos-Wind Dir Type\"];\n  t.wind_speed = vdt[\"Batos-Wind Spd\"];\n  t.depth = vdt[\"Depth Meters from Surface\"];\n  t.fluorescence = vdt[\"Fluorescence value\"];\n  t.ext_water_temp = vdt[\"SBE21 External Water Temp\"];\n  t.int_water_temp = vdt[\"SBE21 Int Water Temp\"];\n  t.salinity = vdt[\"SBE21 Water Salinity\"];\n  t.time = vdt.timestamp;\n  return t;\n}\n\nsimpleParser(msg.payload.value)\n         .then(parsed => {\n           //console.log(JSON.stringify(parsed,null,2));\n           //console.log(parsed.text);\n           if(parsed.text && parsed.text.indexOf(\"<<\")>-1){\n               node.send({status: \"ok\", payload:parseShipData(parsed.text)});\n           }else{\n               node.send({status: \"wrong\", payload: {message: msg.payload}});\n           }\n         })\n         .catch(err => {\n             node.send({status: \"err\", payload: {err:err, message: msg.payload}});\n         });\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["9394b800.773878"]]},{"id":"9394b800.773878","type":"switch","z":"9b4a47ac.df0798","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"neq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":120,"wires":[["c66c9fa7.fa982","50e412ee.80056c"],["48620f1b.6832a"]]},{"id":"48620f1b.6832a","type":"debug","z":"9b4a47ac.df0798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"d7c8304f.67d0d","type":"inject","z":"9b4a47ac.df0798","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["849be5f4.45efd8"]]},{"id":"849be5f4.45efd8","type":"function","z":"9b4a47ac.df0798","name":"inject test message","func":"var x = `Return-Path: <vesselsscs+caf_=rvunderway=mqttinbox.com@gmail.com>\nReceived: from mail-wm1-f44.google.com (mail-wm1-f44.google.com [209.85.128.44])\n by inbound-smtp.eu-west-1.amazonaws.com with SMTP id okihomqct4i8s1nrdivq48gd8ujfv3beu5uurko1\n for rvunderway@mqttinbox.com;\n Fri, 21 Sep 2018 17:23:38 +0000 (UTC)\nX-SES-Spam-Verdict: PASS\nX-SES-Virus-Verdict: PASS\nReceived-SPF: pass (spfCheck: domain of _spf.google.com designates 209.85.128.44 as permitted sender) client-ip=209.85.128.44; envelope-from=vesselsscs+caf_=rvunderway=mqttinbox.com@gmail.com; helo=mail-wm1-f44.google.com;\nAuthentication-Results: amazonses.com;\n spf=pass (spfCheck: domain of _spf.google.com designates 209.85.128.44 as permitted sender) client-ip=209.85.128.44; envelope-from=vesselsscs+caf_=rvunderway=mqttinbox.com@gmail.com; helo=mail-wm1-f44.google.com;\n dkim=pass header.i=@gmail.com;\n dmarc=pass header.from=gmail.com;\nX-SES-RECEIPT: AEFBQUFBQUFBQUFHV24vaGIvMXBNWks4ZWRJVkh5ZS8yZnpDaDYzTlpDNExyUEZsZWlxZUNnRm5ZSTdyUGQ5OUF2aUhweGNOTHRaTmsxUjdKcDN3K0h5MUZPekVHb1NyRFBkRlU2amZrVVdkZkdoeUtRckc1aHFFbTdKclR5NEQrZ3BMR0Q1dng4eDRkS0JDZGlIRjlJQjNnaktORllsUUJqeXZiSHRvdjk3Uy9KbzVKaVV4Q29VM2wvR3FiTkxwWXFDWEl4ekJzeG5lYi9WeWU1OExlYjVBQjFmNWM5YUNPejhQTWpuNFp6N1p5ei9iVWZPS0EwSEZ5TnZreG9JMjJGRjZZM0RLV09Md3FDZHhOS09JaklCdEZHaGRCVjRWYlpPTUkvYldxQ1lkblFzcDNqQUVvQ2U0Uld5VGxISEZqbHAwYU9WcVorZXI3UHpVVmg2QWxPVlBvK1VJQWNMaHM=\nX-SES-DKIM-SIGNATURE: a=rsa-sha256; q=dns/txt; b=AvYP189vMYc//kCY6RgKptgVeYUqmjLyM2b1uYQgtkWh4JXc9CGgJiXUc1C7HbiiKy/rGXjCacXxL/WF2fPFnD8gGgYtSZLaRfHGulwoupR55MLvYIbfNjs905ddBMRf9/RJVD6r9ZqDqCs5sqjoIBBtTbeyKyeMh3kAaF2cmi4=; c=relaxed/simple; s=uku4taia5b5tsbglxyj6zym32efj7xqv; d=amazonses.com; t=1537550618; v=1; bh=lYnLTXSbBsHaTitoLekYACHLOXLS0hkN/IA75d1uM8c=; h=From:To:Cc:Bcc:Subject:Date:Message-ID:MIME-Version:Content-Type:X-SES-RECEIPT;\nReceived: by mail-wm1-f44.google.com with SMTP id 207-v6so4059952wme.5\n        for <rvunderway@mqttinbox.com>; Fri, 21 Sep 2018 10:23:38 -0700 (PDT)\nX-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\n        d=1e100.net; s=20161025;\n        h=x-gm-message-state:delivered-to:dkim-signature:message-id:date\n         :mime-version:from:to:subject:content-transfer-encoding;\n        bh=Kz5ImIg+beRHCfPO+eRT3BuOP2H6tghzw3cJM4aLyjc=;\n        b=N8eE0Ig5SFkRtDLbFdVFoYKq44ySucFkjJj5wHjPEMF+9gAmqecq1DtJJURI7Eu3ZI\n         8U/poN+AZ71PqHmPIykTHwFNo5g11BmT28JMVTkw/ex2pBmkQ9Hmt64czEmM4OOXSDHo\n         b+cXzxF40OLFxxCwB5c5Yrbt6DSzff/6w0Ikw4Ceixra1VY8aNQD010/ewenxxd6MpSx\n         dDIcpytyvo2xlOB/GWTWo52GDGYoG/2TS4/bhTmujEcQNUqOExBm6UXOY0MnefpqYFVn\n         sSsVauDZ1ArYnXmj3zSpNSOsk9j/59AuW+W8mDWxhMhxh+hrj5sYdrttwjdTeQ+EFfg+\n         fysg==\nX-Gm-Message-State: APzg51AmpT1JwYJm88b60JkDnPYu6kE974m1+u1KIQ9GPYQm0vxVhpJ2\n\tYi345vJ/O00s3SxICpQ/1wMwfuX/1OQ0tNdBHY7U93/4aQMMyw==\nX-Received: by 2002:a1c:f60c:: with SMTP id w12-v6mr8676797wmc.80.1537550618141;\n        Fri, 21 Sep 2018 10:23:38 -0700 (PDT)\nX-Forwarded-To: rvunderway@mqttinbox.com\nX-Forwarded-For: vesselsscs@gmail.com rvunderway@mqttinbox.com\nDelivered-To: vesselsscs@gmail.com\nReceived: by 2002:adf:f652:0:0:0:0:0 with SMTP id x18-v6csp2164732wrp;\n        Fri, 21 Sep 2018 10:23:37 -0700 (PDT)\nX-Received: by 2002:adf:a708:: with SMTP id c8-v6mr39777815wrd.56.1537550617087;\n        Fri, 21 Sep 2018 10:23:37 -0700 (PDT)\nARC-Seal: i=1; a=rsa-sha256; t=1537550617; cv=none;\n        d=google.com; s=arc-20160816;\n        b=EWrcHuzYB7pDRJYiQfikQhr148tMNG8xWdgl+BEtXKafuUIr7PeqvxmpKOcwjsSLhE\n         zJ6Q1palvX8VqmY3O8BMta9KyQEjQK7r46bmMubzgokWuun81qcHlqwpXaRuqzYv/Y2u\n         cRzbPmosMFQNwlQ9UG77uEhr+eLSL0WPERqv/V2+fhg5mteNpM+q+zW+ywARTYJQBRIv\n         zbYKlljLz2AcHT9Sp6w1XeA5XZMAiDuKYa4Bmreo/gPG9uK0fCdnAzK1sylMz9Cdqcdw\n         iJklANdPvlbOjg31toCRv9kY1x6JZ71GzsqQVlAmphGsw+bosPdrxMnOTrlqUy5TQGFY\n         N0fg==\nARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;\n        h=content-transfer-encoding:subject:to:from:mime-version:date\n         :message-id:dkim-signature;\n        bh=Kz5ImIg+beRHCfPO+eRT3BuOP2H6tghzw3cJM4aLyjc=;\n        b=njF9x9UEz49GCp/ktlEFdkt7Etb5diIIOJqlqDxneF4FHvp4XIknkaVO/0JtsB9LVh\n         T/aWT2ABSmtbB3jjeZCumsEEcLaXRTXBMVqyqqUaB+hwjTdizTFTp6tGYi0IEdIQhNig\n         KoreoSBmphm7Qv6wshLPprE0Vdw6lfus1hridhGutZAwGMzx+qMwSNSnPnqFxV0mOrQH\n         jl4v3ybWSXCBaGRxtzxg4jIphGz5eM/+SEsOYYEvyenrIF1t4jbr+B0/vM5TWOAerXVE\n         T5PF/erZ3HGHNEzbjT6wvAlQnHzWSdvjR25sEBEcdcakmp7nEnxdUX8PlOhxTX16azgQ\n         HC1A==\nARC-Authentication-Results: i=1; mx.google.com;\n       dkim=pass header.i=@gmail.com header.s=20161025 header.b=NR6Hklhf;\n       spf=pass (google.com: domain of rvcescs@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=rvcescs@gmail.com;\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\nReturn-Path: <rvcescs@gmail.com>\nReceived: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\n        by mx.google.com with SMTPS id 42-v6sor20672997wrb.38.2018.09.21.10.23.36\n        for <vesselsscs@gmail.com>\n        (Google Transport Security);\n        Fri, 21 Sep 2018 10:23:37 -0700 (PDT)\nReceived-SPF: pass (google.com: domain of rvcescs@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;\nAuthentication-Results: mx.google.com;\n       dkim=pass header.i=@gmail.com header.s=20161025 header.b=NR6Hklhf;\n       spf=pass (google.com: domain of rvcescs@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=rvcescs@gmail.com;\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\nDKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\n        d=gmail.com; s=20161025;\n        h=message-id:date:mime-version:from:to:subject\n         :content-transfer-encoding;\n        bh=Kz5ImIg+beRHCfPO+eRT3BuOP2H6tghzw3cJM4aLyjc=;\n        b=NR6HklhfNQ519UEvQb51TkccQGmYkQg14yuvxQFmB1Q3X1voDXKHknoWpGbKNUmYhv\n         8h56S4iUgb9n9o2d3Dr/gpEO9QXMkTxkAI15I/DqjTeOl7zx75no+2WtHGN9PQgaQkam\n         jTE75EYnf/JrFKqfbJ5fXMdvgWU3Fy0D6IcriiuYQjSJpyqKd494PSs+eh2Cy9Zvv6et\n         dMl/Hz4ed3Zd+3rUyrfvNn7vqQAJkTgatcHt78HhkWv9FSaaZ1GEs5W7hlBEBbCS9M/6\n         rR3WO7UXgdMuKqEdMuK7ad11jVJauc/q7sjHvjHAfWj5+UfQTPtgxVQG47BEKs5u6zyb\n         Vj3Q==\nX-Google-Smtp-Source: ANB0VdbjcMtloiVese8rMimyjgOHx9kEjRn5VmgKj727LYfCMXrvsHADYpRyCqZ7XqBNcSFWPzuDmA==\nX-Received: by 2002:adf:ae5a:: with SMTP id u26-v6mr40856053wrd.246.1537550616223;\n        Fri, 21 Sep 2018 10:23:36 -0700 (PDT)\nReturn-Path: <rvcescs@gmail.com>\nReceived: from ceub01.marine.ie ([88.151.229.101])\n        by smtp.gmail.com with ESMTPSA id g188-v6sm7374678wmg.11.2018.09.21.10.23.34\n        for <vesselsscs@gmail.com>\n        (version=TLS1_2 cipher=ECDHE-RSA-AES128-GCM-SHA256 bits=128/128);\n        Fri, 21 Sep 2018 10:23:35 -0700 (PDT)\nMessage-ID: <5ba52917.1c69fb81.6855c.b897@mx.google.com>\nDate: Fri, 21 Sep 2018 10:23:35 -0700 (PDT)\nX-Google-Original-Date: 21 Sep 2018 17:23:26 +0000\nReceived: from CESCS02 (cescs02.celticexplorer.local [10.1.30.55])\n\tby ceub01.marine.ie (Postfix) with ESMTP id 760622801A0\n\tfor <vesselsscs@gmail.com>; Fri, 21 Sep 2018 18:23:26 +0100 (IST)\nMIME-Version: 1.0\nFrom: rvcescs@gmail.com\nTo: vesselsscs@gmail.com\nSubject: ce ship tracker ti20\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: quoted-printable\n\n<<< celticExplorer,09/21/2018,17:23:26 >>>=0D=0A<,BATOS-Air Pressure,BATOS-Air=\n Temp Value,Batos-Hull-Temp-raw,Batos-Wind Dir,Batos-Wind Dir Type,Batos-Wind=\n Spd,BATOS-XDR-C,BATOS-XDR-H,BATOS-XDR-P,Batos Hull Temperature Value,BATOS=\n Humidity Value,Depth Meters from Surface,Fluorescence value,Fluorometer-date,Fluorometer-raw,Hull-Temp-Ti20-raw,SBE21=\n External Water Temp,SBE21 Water Salinity,SBE21 Int Water Temp,Seapath-GGA-raw,Seapath-ZDA-Time-,Seapath=\n Latitude,Seapath Longitude,Seapath Time UTC,Ship-Speed-Log-2-raw,v4.x.x,>=\n=0D=0A<,NONE,NONE,,deg,*NONE*,?,,,,Deg_C,DECIMAL,Meters,PSU,DDMMYY,,,Degrees=\n C,PSU,Degrees C,,HH:MM:SS,?,?,HHMMSS.SS,,v4.x.x,>=0D=0A<,1.0187,14.1,$WIMTW,15.3,C*0A,272,T,13.3,$WIXDR,C,14.1,C,TA*5F,$WIXDR,H,62.0,P,UU*52,$WIXDR,P,1.0187,B,P*03,15.3,62.0,2183.0,=\n 0.311,9/21/18,0  7627 ::  9/21/18 18:23:02 =3D 0.311,$IIMTW,15.26,C,15.06333,35.48248,15.18610,$INGGA,172326.41,5055.091317,N,01300.329379,W,1,12,0.7,-3.07,M,59.72,M,,*43,172326.41,5055.091317N,01300.329379W,172326.41,$VMVBW,14.8,0.2,A,,,V,,V,,V*70,4.6.1.2238,>=\n=0D=0A=0D=0A=0D=0A=0D=0A***********************************************************************************************=\n=0D=0AFrom \"CESCS02\n\n`;\n\nreturn {payload: {value: x}}","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["bd460153.b862"]]},{"id":"c66c9fa7.fa982","type":"debug","z":"9b4a47ac.df0798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":80,"wires":[]},{"id":"b05e1a58.e516c8","type":"cassandra","z":"9b4a47ac.df0798","mydb":"fc76759.3c44988","name":"Write to cassandra","x":849.5,"y":180,"wires":[[]]},{"id":"50e412ee.80056c","type":"function","z":"9b4a47ac.df0798","name":"Convert to CQL","func":"var fields = \"vessel,time,air_pressure,air_temp,depth,ext_water_temp,fluorescence,hull_temp,humidity,int_water_temp,latitude,longitude,salinity,wind_dir,wind_dir_type,wind_speed\".split(\",\");\nvar field_names = fields.join(\",\");\nvar values = [];\nfor(var i=0;i<fields.length;i++){\n    values.push(msg.payload[fields[i]]);\n    fields[i] = \"?\";\n}\nvar placeholders = fields.join(\",\");\nvar topic = \"INSERT INTO underwaylive (\"+field_names+\") values (\"+placeholders+\")\";\nvar newmsg = {\n    topic: topic,\n    payload: values\n}\nreturn newmsg;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":123,"wires":[["b05e1a58.e516c8"]]},{"id":"eb3195ae.7c8478","type":"comment","z":"9b4a47ac.df0798","name":"README","info":"Email messages from the ship (every 30 minutes)\nare sent to a gmail account.\n\nThe gmail account forwards to mqttinbox.com\n\nThe mqttinbox submits the messages (as raw emails)\nto mqtt.marine.ie, so they show up in a kafka queue.\n\nThis process in node-red parses the underway data\nfrom the email message, and stores to cassandra.\n\nERDDAP uses cassandra as the backend for the underway\ndataset.","x":200,"y":40,"wires":[]},{"id":"df17efca.4673a","type":"switch","z":"785bcf96.6e76f","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"neq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":180,"wires":[["f756c30c.c5c7a"],["efffa105.c1a37"]]},{"id":"9d83dbcd.526748","type":"function","z":"785bcf96.6e76f","name":"Parse compass buoy email","func":"var simpleParser  = global.get('mailparser').simpleParser;\n\nsimpleParser(msg.payload.value)\n         .then(parsed => {\n           //console.log(JSON.stringify(parsed,null,2));\n           console.log(parsed.attachments);\n           if(parsed.attachments && parsed.attachments.length){\n               for(var i=0; i<parsed.attachments.length;i++){\n                   var attachment = parsed.attachments[i];\n                   if(attachment.contentType == 'application/octet-stream' &&\n                      attachment.contentDisposition == 'attachment' &&\n                      attachment.filename.endsWith(\".dat\")){\n                          try{\n                              var content = attachment.content.toString('utf8');\n                              var lines = content.split(/[\\r\\n]+/);\n                                node.send({status: \"ok\", payload:lines});\n                     }catch(e){\n                              node.send({status: \"err\", payload:{err: e}});\n                          }\n\n                   }\n               }\n           }else{\n               node.send({status: \"wrong\", payload: {message: msg.payload}});\n           }\n         })\n         .catch(err => {\n             node.send({status: \"err\", payload: {err:err, message: msg.payload}});\n         });\n","outputs":1,"noerr":0,"x":220,"y":120,"wires":[["df17efca.4673a"]]},{"id":"4a794ae8.4f71e4","type":"function","z":"785bcf96.6e76f","name":"inject test message","func":"var x = `Return-Path: <Rob.Fuller@Marine.ie>\nReceived: from dg-184.bmlout.tstechnology.net (dg-184.bmlout.tstechnology.net [91.199.74.184])\n by inbound-smtp.eu-west-1.amazonaws.com with SMTP id 9vc9v58j0vin90n721agnvs2ntf0946n5sdond81\n for compassbuoy@mqttinbox.com;\n Thu, 27 Sep 2018 15:01:51 +0000 (UTC)\nX-SES-Spam-Verdict: PASS\nX-SES-Virus-Verdict: PASS\nReceived-SPF: pass (spfCheck: domain of Marine.ie designates 91.199.74.184 as permitted sender) client-ip=91.199.74.184; envelope-from=Rob.Fuller@Marine.ie; helo=dg-184.bmlout.tstechnology.net;\nAuthentication-Results: amazonses.com;\n spf=pass (spfCheck: domain of Marine.ie designates 91.199.74.184 as permitted sender) client-ip=91.199.74.184; envelope-from=Rob.Fuller@Marine.ie; helo=dg-184.bmlout.tstechnology.net;\n dmarc=none header.from=marine.ie;\nX-SES-RECEIPT: AEFBQUFBQUFBQUFIL1czd2MwMWpaZnJ5R3RvY3VrUXI1NE9aWVF2ZUJlWWZ6a2RKQW9Pdnk4WG0vZzRvZC9RMWtXSitwR0tKU25vUHZ0VUh2ZmtqQWdBbENHWElYOTNNWStCdytqV3dSQkxQczJxNHRWbFZkbzNDUkZFRXZYS0NPWllPYXZ4d0NIS1VzdDhxMUtEYUg1cGVmelBpNnU4cmxGNU8yMFByUFNBcmcyUnRkdUQ2L01QVjJ0L3FSQkdwaFY0ckhaaWlJaXNMVWhUT3pxZnpvSlZuWERiT0ZISjVyNW1jWHZwZDdsamg5SW03Z3lnR1JnWW0xTTRxdzFGcGhRejhpTTVQY0RTeEpndlk3cjdaZS8wWEUxRVhPa3NpbGgwSDk4QnZtUHZQdCtzbTYvZVZ5T2c9PQ==\nX-SES-DKIM-SIGNATURE: a=rsa-sha256; q=dns/txt; b=XGkX/ksgcrM8JH9uBOc4sQE+vRN0fWA14LWuOy7my//Gmm4Xl0q8Amg/KWNAqjvm3l5qqUBEyg9RnKQmrPNVZ47U/gKK9sZTwsw515yc4eBkTurDsq9yyqWOpTaB6L636IaviYyMJZZcnAOdv8KaW9zTt4WEcXEjToR0Yjz5H6A=; c=relaxed/simple; s=uku4taia5b5tsbglxyj6zym32efj7xqv; d=amazonses.com; t=1538060511; v=1; bh=hT68qPpivYuQanUuANWimNx1kJKh0lIEumWAbvZoEik=; h=From:To:Cc:Bcc:Subject:Date:Message-ID:MIME-Version:Content-Type:X-SES-RECEIPT;\nReceived: from msh3out2.dublin.tstechnology.net (msh3out2.dublin.tstechnology.net [10.254.0.93])\n        (using TLSv1.2 with cipher DHE-RSA-AES256-GCM-SHA384 (256/256 bits))\n        (No client certificate requested)\n        by dg-184.bmlout.tstechnology.net (Postfix) with ESMTPS id CF847408F8\n        for <compassbuoy@mqttinbox.com>; Thu, 27 Sep 2018 16:01:50 +0100 (IST)\nReceived: from rout5a.tstechnology.net (Not Verified[10.254.0.55]) by msh3out2.dublin.tstechnology.net with Trustwave SEG (v7,5,7,8900) (using TLS: TLSv1.2, AES256-GCM-SHA384)\n        id <B5bacf0e40000>; Thu, 27 Sep 2018 16:01:56 +0100\nReceived: from rout5.dublin.tstechnology.net (localhost [127.0.0.1])\n        by rout5a.tstechnology.net (Postfix) with ESMTP id 6714582025\n        for <compassbuoy@mqttinbox.com>; Thu, 27 Sep 2018 16:01:50 +0100 (IST)\nReceived: from rout5.tstechnology.net ([IPv6:::ffff:127.0.0.1])\n        by rout5.dublin.tstechnology.net (rout5.dublin.tstechnology.net [::ffff:127.0.0.1]) (amavisd-new, port 10024)\n        with ESMTP id QoWpSoqamYFG for <compassbuoy@mqttinbox.com>;\n        Thu, 27 Sep 2018 16:01:50 +0100 (IST)\nReceived: from MIEXCH1.Marine.ie (unknown [193.1.186.252])\n        (using TLSv1.2 with cipher AES256-SHA (256/256 bits))\n        (No client certificate requested)\n        by rout5.tstechnology.net (Postfix) with ESMTPS id E2E8582013\n        for <compassbuoy@mqttinbox.com>; Thu, 27 Sep 2018 16:01:49 +0100 (IST)\nReceived: from MIEXCH1.Marine.ie (10.0.5.128) by MIEXCH1.Marine.ie\n (10.0.5.128) with Microsoft SMTP Server (TLS) id 15.0.1156.6; Thu, 27 Sep\n 2018 16:01:47 +0100\nReceived: from MIEXCH1.Marine.ie ([fe80::e5b3:fbfc:3a09:1921]) by\n MIEXCH1.Marine.ie ([fe80::e5b3:fbfc:3a09:1921%13]) with mapi id\n 15.00.1156.000; Thu, 27 Sep 2018 16:01:47 +0100\nFrom: \"Rob Fuller (ext)\" <Rob.Fuller@Marine.ie>\nTo: \"compassbuoy@mqttinbox.com\" <compassbuoy@mqttinbox.com>\nSubject: FW: COMPASS Buoy\nThread-Topic: COMPASS Buoy\nThread-Index: AQHUVlmbQwNS/2ISik28uVw4+0ahC6UEJbQQgAATkzA=\nDate: Thu, 27 Sep 2018 15:01:47 +0000\nMessage-ID: <9374e8eb1ee44533a50e0513a1ef7ad1@MIEXCH1.Marine.ie>\nReferences: <010101661ae63515-7528638f-fd44-42b2-9fa6-762fdf1df0d4-000000@us-west-2.amazonses.com>\n <44f272eaaa5740a2aeb05931368dd550@MIEXCH1.Marine.ie>\nIn-Reply-To: <44f272eaaa5740a2aeb05931368dd550@MIEXCH1.Marine.ie>\nAccept-Language: en-IE, en-US\nContent-Language: en-US\nX-MS-Has-Attach: yes\nX-MS-TNEF-Correlator:\nx-ms-exchange-transport-fromentityheader: Hosted\nx-originating-ip: [10.0.5.208]\nContent-Type: multipart/mixed;\n        boundary=\"_002_9374e8eb1ee44533a50e0513a1ef7ad1MIEXCH1Marineie_\"\nMIME-Version: 1.0\n\n--_002_9374e8eb1ee44533a50e0513a1ef7ad1MIEXCH1Marineie_\nContent-Type: text/plain; charset=\"utf-8\"\nContent-Transfer-Encoding: base64\n\nDQoNCi0tLS0tT3JpZ2luYWwgTWVzc2FnZS0tLS0tDQpGcm9tOiBjb21wYXNzIGJ1b3kgDQpTZW50\nOiBUaHVyc2RheSAyNyBTZXB0ZW1iZXIgMjAxOCAxNDo1Mg0KVG86IFJvYiBGdWxsZXIgKGV4dCkg\nPFJvYi5GdWxsZXJATWFyaW5lLmllPg0KU3ViamVjdDogRlc6IENPTVBBU1MgQnVveQ0KDQoNCg0K\nLS0tLS1PcmlnaW5hbCBNZXNzYWdlLS0tLS0NCkZyb206IGVtYWlscmVsYXlAa29uZWN0Z2RzLmNv\nbSBbbWFpbHRvOmVtYWlscmVsYXlAa29uZWN0Z2RzLmNvbV0gDQpTZW50OiBUaHVyc2RheSAyNyBT\nZXB0ZW1iZXIgMjAxOCAxMzowMA0KVG86IGNvbXBhc3MgYnVveSA8Y29tcGFzcy5idW95QE1hcmlu\nZS5pZT4NClN1YmplY3Q6IENPTVBBU1MgQnVveQ0KDQpIaSwNCg0KUGxlYXNlIGZpbmQgQ09NUEFT\nUyBCdW95IGRhdGEgYXR0YWNoZWQuDQpUaGUgQ1I2IERBUyB0aW1lIGlzIDA5LzI3LzIwMTggMTI6\nMDA6MDAuIA0KVGhlIENSNiBEQVMgVGVtcCBpcyAxNi41OTQxNSBkZWdyZWVzIEMuDQpUaGUgQ1I2\nIERBUyBWb2x0YWdlIGlzIDE0LjAzMzEyIFZvbHRzLg0KDQpLaW5kICBSZWdhcmRzLA0KQ09NUEFT\nUyBCdW95IA0KDQogLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0gIA0KIEVtYWlsIFJl\nbGF5IGlzIHByb3ZpZGVkIGFzIGEgZnJlZSBzZXJ2aWNlIGJ5IENhbXBiZWxsIFNjaWVudGlmaWMu\nDQo=\n\n--_002_9374e8eb1ee44533a50e0513a1ef7ad1MIEXCH1Marineie_\nContent-Type: application/octet-stream; name=\"Data895.dat\"\nContent-Description: Data895.dat\nContent-Disposition: attachment; filename=\"Data895.dat\"; size=38410;\n        creation-date=\"Thu, 27 Sep 2018 11:59:56 GMT\";\n        modification-date=\"Thu, 27 Sep 2018 11:59:56 GMT\"\nContent-ID: <27D6864869C4E54A9DBAE16BF96A6EF6@Marine.ie>\nContent-Transfer-Encoding: base64\n\nIlRPQTUiLCJDb21wYXNzIiwiQ1I2IiwiNjUwNiIsIkNSNi5TdGQuMDYuMDEiLCJDUFU6Q09NUEFT\nU18wMTA5MjAxOC5DUjYiLCIzMzI4MyIsIlRhYmxlMSINCiJUSU1FU1RBTVAiLCJSRUNPUkQiLCJT\nQkVfVGltZSIsIlNCRV9EYXRlIiwiU0JFX1RlbXBfQXZnIiwiU0JFX0NvbmR1Y3Rpdml0eV9Bdmci\nLCJTQkVfUHJlc3N1cmVfQXZnIiwiU0JFX1NhbGluaXR5X0F2ZyIsIlNlYUZldF9UaW1lIiwiU2Vh\nRmV0X0RhdGUiLCJTZWFGZXRfUEhfSU5UX0F2ZyIsIlNlYUZldF9QSF9FWFRfQXZnIiwiU2VhRmV0\nX1RlbXBfQXZnIiwiU2VhRmV0X0lOVF9Wb2x0YWdlX0F2ZyIsIlNlYUZldF9FWFRfVm9sdGFnZV9B\ndmciLCJTZWFGZXRfVnN1cHBseV9BdmciLCJTZWFGZXRfSXN1cHBseV9BdmciLCJTZWFGZXRfSU5U\nX0h1bWlkaXR5X0F2ZyIsIlNlYUZldF9WNVZfQXZnIiwiU2VhRmV0X01CQVRUX0F2ZyIsIkNvbnRy\nb3NfVGltZSIsIkNvbnRyb3NfRGF0ZSIsIkNvbnRyb3NfUENPMl9BdmciLCJDb250cm9zX1RDb250\ncm9sX0F2ZyIsIkNvbnRyb3NfVm9sdGFnZV9BdmciLCJDb250cm9zX0N1cnJlbnRfQXZnIiwiQ29u\ndHJvc19TdGF0dXNfRXh0UHVtcCIsIlN1bmFfWWVhckRheSIsIlN1bmFfRGVjaW1hbFRpbWUiLCJT\ndW5hX05pdHJhdGVfQ29uY19BdmciLCJTdW5hX05pdHJvZ2VuX0F2ZyIsIlN1bmFfQWJzb3JiYW5j\nZV8yNTRubV9BdmciLCJTdW5hX0Fic29yYmFuY2VfMzUwbm1fQXZnIiwiU3VuYV9Ccm9taWRlX0F2\nZyIsIlN1bmFfU3BlY3RydW1fQXZyZ19BdmciLCJTdW5hX0RhcmtfVmFsdWVfQXZnIiwiU3VuYV9J\nbnRfVGVtcF9BdmciLCJTdW5hX0ludF9IdW1pZGl0eV9BdmciLCJTdW5hX01haW5fVm9sdGFnZV9B\ndmciLCJTdW5hX0ludF9Wb2x0YWdlX0F2ZyIsIlN1bmFfTWFpbl9DdXJyZW50X0F2ZyIsIkFpcm1h\ncl9UaW1lX0dQUyIsIkFpcm1hcl9EYXkiLCJBaXJtYXJfTW9udGgiLCJBaXJtYXJfWWVhciIsIkFp\ncm1hcl9XaW5kX1NwZWVkX0F2ZyIsIkFpcm1hcl9XaW5kX0d1c3RfTWF4IiwiQXZyZ19XaW5kX0Rp\ncmVjdGlvbl9XVmMiLCJBaXJtYXJfQWlyX1RlbXBlcmF0dXJlX0F2ZyIsIkFpcm1hcl9BdG1vc3Bo\nZXJpY19QcmVzc3VyZV9BdmciLCJBaXJtYXJfTGF0aXR1ZGUiLCJBaXJtYXJfTG9uZ2l0dWRlIiwi\nQWlybWFyX0REX0xhdCIsIkFpcm1hcl9ERF9Mb25nIiwiQWlybWFyX0dQU19RdWFsaXR5IiwiQWly\nbWFyX05vX09mX1NhdGVsaXRlc19Vc2VkIiwiTVBQVDFfQmF0dF9Wb2x0X0F2ZyIsIk1QUFQyX0Jh\ndHRfVm9sdF9BdmciLCJNUFBUMV9DdXJyZW50X0F2ZyIsIk1QUFQyX0N1cnJlbnRfQXZnIiwiTVBQ\nVDFfVlBWX0F2ZyIsIk1QUFQyX1ZQVl9BdmciLCJNUFBUMV9QUFZfQXZnIiwiTVBQVDJfUFBWX0F2\nZyIsIkNSNl9UZW1wX0F2ZyIsIkNSNl9CYXR0X3ZvbHRfTWluIg0KIlRTIiwiUk4iLCJUaW1lIiwi\nRGF0ZSIsIkNlbHNpdXMiLCJTX3Blcl9tIiwiQmFyIiwicHN1IiwiVGltZSIsIkRhdGUiLCJQSCIs\nIlBIIiwiQ2Vsc2l1cyIsIlZvbHRzIiwiVm9sdHMiLCJWb2x0cyIsIm1BIiwiJSIsIlZvbHRzIiwi\nVm9sdHMiLCJUaW1lIiwiRGF0ZSIsInVBVE0iLCJDZWxzaXVzIiwiVm9sdHMiLCJBbXBzIiwiWmVy\nb19vZmZfT25lX29uIiwiRGF0ZSIsIlRpbWUiLCJ1TSIsIm1nTi9MIiwiQWJzb3JiYW5jZSIsIkFi\nc29yYmFuY2UiLCJtZy9MIiwiU3BlY3RydW1fQXZlcmFnZSIsIkRhcmtfVmFsdWUiLCJDZWxzaXVz\nIiwiJSIsIlZvbHRzIiwiVm9sdHMiLCJtQSIsIlRpbWVfVVRDIiwiRGF5IiwiTW9udGgiLCJZZWFy\nIiwia25vdHMiLCJrbm90cyIsIkRlZyIsIkNlbHNpdXMiLCJoUGEiLCJEZWdyZWVzX0RNIiwiRGVn\ncmVlc19ETSIsIkRlY2ltYWxfRGVncmVlcyIsIkRlY2ltYWxfRGVncmVlcyIsIjBfTm9GaXhfMV9H\nUFNfMl9ER1BTIiwiQ291bnQiLCJWb2x0cyIsIlZvbHRzIiwibUEiLCJtQSIsIlZvbHRzIiwiVm9s\ndHMiLCJtV2F0dHMiLCJtV2F0dHMiLCJDZWxzaXVzIiwiVm9sdHMiDQoiIiwiIiwiU21wIiwiU21w\nIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiU21wIiwiU21wIiwiQXZnIiwiQXZnIiwiQXZnIiwi\nQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiU21wIiwiU21wIiwiQXZn\nIiwiQXZnIiwiQXZnIiwiQXZnIiwiU21wIiwiU21wIiwiU21wIiwiQXZnIiwiQXZnIiwiQXZnIiwi\nQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiU21w\nIiwiU21wIiwiU21wIiwiU21wIiwiQXZnIiwiTWF4IiwiV1ZjIiwiQXZnIiwiQXZnIiwiU21wIiwi\nU21wIiwiU21wIiwiU21wIiwiU21wIiwiU21wIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZn\nIiwiQXZnIiwiQXZnIiwiQXZnIiwiQXZnIiwiTWluIg0KIjIwMTgtMDktMjcgMDA6MTA6MDAiLDEy\nMDM0LCIiLCIiLDE0LjAwNjksNC4xMDU4MTgsMC45MDMxOTk5LDM0LjE3NDQsIjIxOjU4OjM3LjEy\nMSIsIjIxLUp1bi0yMDE4Iiw3Ljk4Mzk2OCw4LjAxMDg3OCwxNC4xMzkwMSwtMC45MzUxMDY4LC0w\nLjg5MTA5NjgsMTMuMjMzNTMsMjcuNTMzMzMsNi4yMDE2NjYsNC44OTM3NDYsMTEuNzEwMDUsIjAw\nOjA5OjAyIiwiMjAxOC0wOS0yNyIsNDM1LjcxODUsMjguOTk5ODgsMTMuMDEzNjQsMC4zMzQxMjE4\nLDEsIjIwMTgyNzAiLCIwLjA4OTIyNiIsNC43MzUsMC4wNjYzNSwwLjAyODMsMC4wMDc0NSwwLDE4\nMTIwLjUsODczLDE0LjEsMTk2MjU1LjUsMi4yLDUsNTk1LCIwMDA5MjkuNDAiLCIyNyIsIjA5Iiwi\nMjAxOCIsMjIuNTYsMjcuNiw3Mi44LDYyLjkyLDEwMjguMjEsIjUzMTkuODYxMSIsIjAwOTU1Ljkx\nNDUiLDUzLjMzMTAyLC05LjkzMTkwOSwiMiIsIjkiLDEzLjE5LDEzLjIsLTE5NS4yLE5BTiwwLjAw\nMywwLjAzMiwwLDAsMTUuNzgsMTMuMTcNCiIyMDE4LTA5LTI3IDAwOjIwOjAwIiwxMjAzNSwiIiwi\nIiwxMy45NzgzNyw0LjA4MDM2LDAuODc4Mjk5OSwzMy45NjMxLCIyMjowODozNy4xNTgiLCIyMS1K\ndW4tMjAxOCIsNy45ODA0NzMsOC4wMDc0NzUsMTQuMTIwOTMsLTAuOTM1MzE0OCwtMC44OTEzMDYz\nLDEzLjIzMTMyLDI3LjY4MTY3LDYuMjAxNjY2LDQuODk0NzczLDExLjcxMDA3LCIwMDoxOTowMiIs\nIjIwMTgtMDktMjciLDQzOC4zMjMxLDI4Ljk5OTg2LDEzLjAwOTY0LDAuMzMyOTQxNCwxLCIyMDE4\nMjcwIiwiMC4yNTU2MTUiLDQuNzg1LDAuMDY3MDUsMC4wMzEyNSwwLjAwODYsMCwxODAyNi41LDg3\nMywxNC4xLDE5NjI1Ny41LDIuMiw1LDU5Ni41LCIwMDE5MjkuNDAiLCIyNyIsIjA5IiwiMjAxOCIs\nMjAuNCwyNS43LDY4Ljg5LDYyLjI3LDEwMjcuOTU2LCI1MzE5Ljg2MTUiLCIwMDk1NS45MTQ5Iiw1\nMy4zMzEwMiwtOS45MzE5MTUsIjIiLCIxMCIsMTMuMTksMTMuMTksLTE5NC4xLDAsMC4wMDgsMC4w\nMSwwLDAsMTUuNzcsMTMuMTgNCiIyMDE4LTA5LTI3IDAwOjMwOjAwIiwxMjAzNiwiIiwiIiwxMy45\nNjk3Niw0LjA3MTUzNSwwLjg3ODI5OTksMzMuODg4NzIsIjIyOjE4OjM3LjIwMiIsIjIxLUp1bi0y\nMDE4Iiw3Ljk3Nzg1Nyw4LjAwNTQ0NywxNC4xMTEwNSwtMC45MzU0Njg3LC0wLjg5MTQzMDQsMTMu\nMjI1MzIsMjcuNjMzMzMsNi4yMDUsNC44OTM2MjYsMTEuNzA4ODcsIjAwOjI5OjAyIiwiMjAxOC0w\nOS0yNyIsNDM5LjMsMjguOTk5NjcsMTMuMDA1MjUsMC4zMzQ4MTc4LDEsIjIwMTgyNzAiLCIwLjQy\nMjI4MSIsNC42NTUsMC4wNjUxOTk5OSwwLjAzMTksMC4wMDksMCwxODAwNS41LDg3My41LDE0LjEs\nMTk2MjU5LjUsMi4yLDUsNTk2LCIwMDI5MjkuNDAiLCIyNyIsIjA5IiwiMjAxOCIsMjAuMzEsMjcu\nMzMsNjguNTksNjIuNTksMTAyNy43OTUsIjUzMTkuODYxMiIsIjAwOTU1LjkxNTQiLDUzLjMzMTAy\nLC05LjkzMTkyMywiMiIsIjExIiwxMy4xNywxMy4xOSwtMTk0LjgsMCwwLjAxLDAuMDEsMCwwLDE1\nLjc4LDEzLjE2DQoiMjAxOC0wOS0yNyAwMDo0MDowMCIsMTIwMzcsIiIsIiIsMTMuOTU0ODksNC4w\nNjI3NTUsMC45MDg2OTk5LDMzLjgyMDE5LCIyMjoyODozNy4yNDEiLCIyMS1KdW4tMjAxOCIsNy45\nNzg1MjYsOC4wMDY3MTYsMTQuMDk4NDUsLTAuOTM1NDM2NiwtMC44OTEzNjksMTMuMjE4LDI3Ljcw\nMTY3LDYuMjA2NjY2LDQuODk2OCwxMS43MDk5MywiMDA6Mzk6MDIiLCIyMDE4LTA5LTI3Iiw0NDAu\nNzQyNiwyOS4wMDA0LDEzLjAwMTc0LDAuMzM1MzcyNiwxLCIyMDE4MjcwIiwiMC41ODg5NTQiLDQu\nNSwwLjA2MywwLjAzMjgsMC4wMDkyNSwwLDE3OTc0LjUsODcyLjUsMTQuMDUsMTk2MjYxLjUsMi4y\nNSw1LDU5Ni41LCIwMDM5MjkuNTAiLCIyNyIsIjA5IiwiMjAxOCIsMjEuMjMsMjYuMTMsNzEuMjgs\nNjIuMDYsMTAyNy45MTgsIjUzMTkuODYwOSIsIjAwOTU1LjkxNDYiLDUzLjMzMTAyLC05LjkzMTkx\nLCIyIiwiMTEiLDEzLjE2LDEzLjE5LC0xOTQuOSwwLDAuMDEyLDAuMDEsMCwwLDE1Ljc5LDEzLjE1\nDQoiMjAxOC0wOS0yNyAwMDo1MDowMCIsMTIwMzgsIiIsIiIsMTMuOTUwNDcsNC4wNjE4NTIsMC44\nNzc1OTk5LDMzLjgxNTcxLCIyMjozODozNy4yODgiLCIyMS1KdW4tMjAxOCIsNy45NzkyNTQsOC4w\nMDgxMDIsMTQuMDkwNjMsLTAuOTM1Mzk4OSwtMC44OTEyOTY4LDEzLjIxNzQ3LDI3LjcxNjY3LDYu\nMjA1LDQuODk0Nzg2LDExLjcxMDA3LCIwMDo0OTowMiIsIjIwMTgtMDktMjciLDQ0MS45ODE5LDI5\nLjAwMDA0LDEyLjk5ODcxLDAuMzM1MjU4MiwxLCIyMDE4MjcwIiwiMC43NTU2MTUiLDQuNjI1LDAu\nMDY0NzUsMC4wMzMwNSwwLjAwOTUsMCwxNzk2Ni41LDg3MywxNCwxOTYyNjMuNSwyLjI1LDUsNTk2\nLjUsIjAwNDkyOS41MCIsIjI3IiwiMDkiLCIyMDE4IiwyMS43NywyNy4zMyw3Ny4wNyw2NS4xNSwx\nMDI3Ljk4MywiNTMxOS44NjE0IiwiMDA5NTUuOTE1MiIsNTMuMzMxMDIsLTkuOTMxOTIsIjIiLCIx\nMCIsMTMuMTYsMTMuMTksLTE5NC41LDAsMCwwLjAxLDAsMCwxNS44LDEzLjE1DQoiMjAxOC0wOS0y\nNyAwMTowMDowMCIsMTIwMzksIiIsIiIsMTMuOTU1MjcsNC4wNjI0MjksMC44OTE0LDMzLjgxNjg2\nLCIyMjo0ODozNy4zMjUiLCIyMS1KdW4tMjAxOCIsNy45Nzc1ODksOC4wMDY5MjUsMTQuMDkwOTcs\nLTAuOTM1NDkzNywtMC44OTEzNjM2LDEzLjIxNzMzLDI3LjcxNSw2LjIwMzMzMyw0Ljg5NDAxMywx\nMS43MTAwNywiMDA6NTk6MDIiLCIyMDE4LTA5LTI3Iiw0NDIuMTc0LDI5LjAwMDE0LDEyLjk5NTI1\nLDAuMzM0NTEyOSwxLCIyMDE4MjcwIiwiMC45MjI1NTkiLDQuNzE1LDAuMDY2MSwwLjAzMzEsMC4w\nMDk2NSwwLDE3OTYzLDg3NCwxNCwxOTYyNjUuNSwyLjIsNS4wNSw1OTUuNSwiMDA1OTI5LjYwIiwi\nMjciLCIwOSIsIjIwMTgiLDIyLjY4LDI4LjUsODEuMiw2NS42OCwxMDI4LjA0NywiNTMxOS44NjA5\nIiwiMDA5NTUuOTE1NCIsNTMuMzMxMDIsLTkuOTMxOTIzLCIyIiwiOSIsMTMuMTYsMTMuMTksLTE5\nNC40LDAsMCwwLjAxLDAsMCwxNS44MiwxMy4xNA0KIjIwMTgtMDktMjcgMDE6MTA6MDAiLDEyMDQw\nLCIiLCIiLDEzLjk1NTU3LDQuMDYwNTEsMC44ODI1OTk5LDMzLjc5ODc0LCIyMjo1ODozNy4zNjki\nLCIyMS1KdW4tMjAxOCIsNy45NzcxODksOC4wMDY5MDYsMTQuMDg4OTcsLTAuOTM1NTE3NCwtMC44\nOTEzNjYyLDEzLjIxMjEyLDI3LjcxODMzLDYuMiw0Ljg5NDUzMywxMS43MTAyLCIwMTowOTowMiIs\nIjIwMTgtMDktMjciLDQ0Mi40ODM0LDI4Ljk5OTkzLDEyLjk5MTksMC4zMzYyNjExLDEsIjIwMTgy\nNzAiLCIxLjA4ODk1MiIsNC40MywwLjA2MjA1LDAuMDMzMywwLjAwOTU1LDAsMTc5NTYuNSw4NzMu\nNSwxNCwxOTYyNjcuNSwyLjI1LDUsNTk2LCIwMTA5MjkuNjAiLCIyNyIsIjA5IiwiMjAxOCIsMjIu\nODcsMjguMDMsNzkuMDIsNjUuODEsMTAyOC4wMTEsIjUzMTkuODYxMCIsIjAwOTU1LjkxNTUiLDUz\nLjMzMTAyLC05LjkzMTkyNSwiMiIsIjExIiwxMy4xNiwxMy4xNywtMTk0LjcsMCwwLDAuMDEsMCww\nLDE1Ljg0LDEzLjEzDQoiMjAxOC0wOS0yNyAwMToyMDowMCIsMTIwNDEsIiIsIiIsMTMuOTU3MDQs\nNC4wNjEzMTMsMC45MDUwOTk5LDMzLjgwNDkzLCIyMzowODozNy40MTIiLCIyMS1KdW4tMjAxOCIs\nNy45Nzc3MTgsOC4wMDc3MTYsMTQuMDg5MjcsLTAuOTM1NDg3LC0wLjg5MTMxOTgsMTMuMjA4MjQs\nMjcuODE2NjcsNi4yLDQuODk1MTg2LDExLjcwOTc5LCIwMToxOTowMiIsIjIwMTgtMDktMjciLDQ0\nMi4yODA4LDI5LjAwMDIxLDEyLjk4ODc0LDAuMzM1MzA5OSwxLCIyMDE4MjcwIiwiMS4yNTU2Mjci\nLDQuNjg1LDAuMDY1NiwwLjAzMzEsMC4wMDk1LDAsMTc5NjMuNSw4NzQuNSwxNCwxOTYyNjkuNSwy\nLjIsNSw1OTUuNSwiMDExOTI5LjYwIiwiMjciLCIwOSIsIjIwMTgiLDIzLjQzLDI5LDc4LjQxLDY1\nLjc0LDEwMjcuNjksIjUzMTkuODYwNSIsIjAwOTU1LjkxNTMiLDUzLjMzMSwtOS45MzE5MjIsIjIi\nLCIxMCIsMTMuMTYsMTMuMTYsLTE5NCwwLDAuMDU0LDAuMDEsMCwwLDE1Ljg2LDEzLjEzDQoiMjAx\nOC0wOS0yNyAwMTozMDowMCIsMTIwNDIsIiIsIiIsMTMuOTUyNjEsNC4wNTk1OTgsMC44NzIxOTk5\nLDMzLjc5MjksIjIzOjE4OjM3LjQ1MiIsIjIxLUp1bi0yMDE4Iiw3Ljk3ODAwNiw4LjAwODI4Miwx\nNC4wODU1OSwtMC45MzU0NzI0LC0wLjg5MTI5MDksMTMuMjAzNzUsMjcuNzgzMzMsNi4yLDQuODkz\nNDkzLDExLjcwODYxLCIwMToyOTowMiIsIjIwMTgtMDktMjciLDQ0Mi4zNzQyLDI4Ljk5OTkzLDEy\nLjk4NTczLDAuMzM2NTI4OSwxLCIyMDE4MjcwIiwiMS40MjI1NjUiLDQuMzc1LDAuMDYxMzUsMC4w\nMzMwNSwwLjAwOTMsMCwxNzk2Ni41LDg3MywxNCwxOTYyNzEuNSwyLjI1LDUsNTk1LjUsIjAxMjky\nOC43MCIsIjI3IiwiMDkiLCIyMDE4IiwyMS44MywyNi4zMyw3Ni4zNCw2NS43NywxMDI3LjUxNywi\nNTMxOS44NjAzIiwiMDA5NTUuOTE0NyIsNTMuMzMxLC05LjkzMTkxLCIyIiwiOSIsMTMuMTUsMTMu\nMTYsLTE5My4zLE5BTiwwLjA2NSwwLjA1NCwwLDAsMTUuODgsMTMuMTMNCiIyMDE4LTA5LTI3IDAx\nOjQwOjAwIiwxMjA0MywiIiwiIiwxMy45Mzk5Niw0LjA1MzQwNSwwLjg4NTA5OTksMzMuNzQ2NDQs\nIjIzOjI4OjM3LjQ5MSIsIjIxLUp1bi0yMDE4Iiw3Ljk3NzAxNyw4LjAwNzQ1NSwxNC4wNzY5LC0w\nLjkzNTUzMywtMC44OTEzNDU1LDEzLjIwNDI3LDI3Ljg2NSw2LjIsNC44OTQ2MjcsMTEuNzEwNDcs\nIjAxOjM5OjAyIiwiMjAxOC0wOS0yNyIsNDQyLjc0OTIsMjkuMDAwMzksMTIuOTgyMzYsMC4zMzU1\nMTg4LDEsIjIwMTgyNzAiLCIxLjU4ODk0OSIsNC43MTUsMC4wNjYwNSwwLjAzMzk1LDAuMDA5ODUs\nMCwxNzkzNiw4NzMuNSwxNCwxOTYyNzMuNSwyLjI1LDUsNTk4LCIwMTM5MjguNzAiLCIyNyIsIjA5\nIiwiMjAxOCIsMjEuNTQsMjcuOTcsNzQuNDksNjYuMDMsMTAyNy4yNjgsIjUzMTkuODYwMiIsIjAw\nOTU1LjkxNTgiLDUzLjMzMSwtOS45MzE5MywiMiIsIjEwIiwxMy4xNSwxMy4xNiwtMTk0LjMsTkFO\nLDAuMDc5LDAuMDMyLDAsMCwxNS44OSwxMy4xMg0KIjIwMTgtMDktMjcgMDE6NTA6MDAiLDEyMDQ0\nLCIiLCIiLDEzLjkzMzkzLDQuMDUwNTMzLDAuODg0NSwzMy43MjUwNywiMjM6Mzg6MzcuNTMzIiwi\nMjEtSnVuLTIwMTgiLDcuOTc1MTE5LDguMDA1ODM0LDE0LjA3MDExLC0wLjkzNTY0NDUsLTAuODkx\nNDQzNiwxMy4xOTc0NywyNy43NTE2Nyw2LjIsNC44OTQ5NiwxMS43MDk2NSwiMDE6NDk6MDIiLCIy\nMDE4LTA5LTI3Iiw0NDMuMTQ3MiwyOS4wMDAxNywxMi45Nzg2NCwwLjMzNTQzMSwxLCIyMDE4Mjcw\nIiwiMS43NTU4OTQiLDQuNjc1LDAuMDY1NDUsMC4wMzQsMC4wMDk3NSwwLDE3OTM3LDg3My41LDE0\nLDE5NjI3NS41LDIuMiw1LDU5Ni41LCIwMTQ5MjguODAiLCIyNyIsIjA5IiwiMjAxOCIsMTkuOTIs\nMjYuMyw2OC43NSw2Ni4yNywxMDI3LjAxLCI1MzE5Ljg2MDUiLCIwMDk1NS45MTU4Iiw1My4zMzEs\nLTkuOTMxOTMsIjIiLCIxMCIsMTMuMTUsMTMuMTYsLTE5NC4zLDAsMC4wODgsMC4wMSwwLDAsMTUu\nODksMTMuMTINCiIyMDE4LTA5LTI3IDAyOjAwOjAwIiwxMjA0NSwiIiwiIiwxMy45MzY3NCw0LjA1\nMjU4NiwwLjg2NjcsMzMuNzQxNjksIjIzOjQ4OjM3LjU3OSIsIjIxLUp1bi0yMDE4Iiw3Ljk3Mzg2\nNCw4LjAwNDg3LDE0LjA2OTY0LC0wLjkzNTcxNjIsLTAuODkxNDk5LDEzLjE5MjI1LDI3LjkxNSw2\nLjIsNC44OTQ5MzMsMTEuNzA5ODEsIjAxOjU5OjAyIiwiMjAxOC0wOS0yNyIsNDQzLjE0NDgsMjgu\nOTk5NTQsMTIuOTc1NywwLjMzNjAwMzIsMSwiMjAxODI3MCIsIjEuOTIyMjgyIiw0LjY1NSwwLjA2\nNTI1LDAuMDMzNjUsMC4wMDk1OTk5OTksMCwxNzk0Ny41LDg3My41LDE0LDE5NjI3Ny41LDIuMjUs\nNS4wNSw1OTcsIjAxNTkyOC44MCIsIjI3IiwiMDkiLCIyMDE4IiwxOC43NywyMy42LDY4LjU5LDY2\nLjM0LDEwMjYuOTM5LCI1MzE5Ljg2MTIiLCIwMDk1NS45MTYyIiw1My4zMzEwMiwtOS45MzE5MzYs\nIjIiLCIxMSIsMTMuMTUsMTMuMTYsLTE5NC41LDAsMC4wOCwwLjAxLDAsMCwxNS44NywxMy4xMw0K\nIjIwMTgtMDktMjcgMDI6MTA6MDAiLDEyMDQ2LCIiLCIiLDEzLjk0MjA3LDQuMDU2MDQ3LDAuODc5\nMjk5OSwzMy43NjkxNiwiMjM6NTg6MzcuNjE4IiwiMjEtSnVuLTIwMTgiLDcuOTc0MTk1LDguMDA1\nMjU3LDE0LjA3MTc1LC0wLjkzNTY5NjMsLTAuODkxNDc1MiwxMy4xODcxOSwyNy44MDE2Nyw2LjIs\nNC44OTUzMzMsMTEuNzA5NCwiMDI6MDk6MDIiLCIyMDE4LTA5LTI3Iiw0NDIuOTQwNiwyOS4wMDA0\nMywxMi45NzI5MywwLjMzOCwxLCIyMDE4MjcwIiwiMi4wODkyMzIiLDQuNDUsMC4wNjIzNSwwLjAz\nMzI1LDAuMDA5MjUsMCwxNzk1OS41LDg3NCwxNCwxOTYyNzkuNSwyLjI1LDUsNTk4LjUsIjAyMDky\nOC44MCIsIjI3IiwiMDkiLCIyMDE4IiwxOC42MSwyNC45Nyw3MS40MSw2Ni4yNSwxMDI2LjkxNSwi\nNTMxOS44NjEyIiwiMDA5NTUuOTE1MyIsNTMuMzMxMDIsLTkuOTMxOTIyLCIyIiwiMTEiLDEzLjE1\nLDEzLjE1LC0xOTYuNywwLDAuMDksMC4wMSwwLDAsMTUuODQsMTMuMTINCiIyMDE4LTA5LTI3IDAy\nOjIwOjAwIiwxMjA0NywiIiwiIiwxMy45NDc1Niw0LjA2MDIxNCwwLjg4NywzMy44MDMwMiwiMDA6\nMDg6MzcuNjU4IiwiMjItSnVuLTIwMTgiLDcuOTc0NTg3LDguMDAzNzQyLDE0LjA3NDk5LC0wLjkz\nNTY3MjQsLTAuODkxNTU4NywxMy4xOTAxMywyNy43ODMzMyw2LjIsNC44OTQsMTEuNzA5NjUsIjAy\nOjE5OjAyIiwiMjAxOC0wOS0yNyIsNDQxLjA2MywyOSwxMi45Njg4MywwLjMzMjE4NjMsMSwiMjAx\nODI3MCIsIjIuMjU1NjE4Iiw0Ljc1LDAuMDY2NSwwLjAzMjksMC4wMDkyLDAsMTc5NzEsODczLjUs\nMTQsMTk2MjgxLjUsMi4yLDUsNTk3LCIwMjE5MjguOTAiLCIyNyIsIjA5IiwiMjAxOCIsMjAuMzIs\nMjUuMDMsNzQuNTEsNjYuNDIsMTAyNi45NjcsIjUzMTkuODYxMyIsIjAwOTU1LjkxNTYiLDUzLjMz\nMTAyLC05LjkzMTkyNiwiMiIsIjExIiwxMy4xNCwxMy4xNSwtMTkzLjYsMCwwLjAxNywwLjAxLDAs\nMCwxNS44MSwxMy4xMg0KIjIwMTgtMDktMjcgMDI6MzA6MDAiLDEyMDQ4LCIiLCIiLDEzLjk1NDQ5\nLDQuMDY0MTMyLDAuODk3NCwzMy44MzMzNiwiMDA6MTg6MzcuNjk5IiwiMjItSnVuLTIwMTgiLDcu\nOTY4MTEyLDcuOTk5NTA4LDE0LjA4MDIzLC0wLjkzNjAzODksLTAuODkxNzk1NiwxMy4xODc1OSwy\nNy43NjY2Nyw2LjIsNC44OTUwNTMsMTEuNzA5MTYsIjAyOjI5OjAyIiwiMjAxOC0wOS0yNyIsNDQx\nLjg2MTQsMjguOTk5ODIsMTIuOTY1NTIsMC4zMzQyODEsMSwiMjAxODI3MCIsIjIuNDIyNTYzIiw0\nLjQ5NSwwLjA2Mjk5OTk5LDAuMDMyNjUsMC4wMDkxLDAsMTc5NzksODcyLjUsMTQsMTk2MjgzLjUs\nMi4yLDUsNTk3LjUsIjAyMjkyOC45MCIsIjI3IiwiMDkiLCIyMDE4IiwxOC42LDIzLjksNzMuODIs\nNjYuNDYsMTAyNi44NjksIjUzMTkuODYxNSIsIjAwOTU1LjkxNTkiLDUzLjMzMTAyLC05LjkzMTkz\nMSwiMiIsIjEwIiwxMy4xMiwxMy4xNSwtMTk0LjUsMCwwLjAwMiwwLjAxLDAsMCwxNS43OCwxMy4x\nMg0KIjIwMTgtMDktMjcgMDI6NDA6MDAiLDEyMDQ5LCIiLCIiLDEzLjk1ODEyLDQuMDY3MTIyLDAu\nODk5MDk5OSwzMy44NTc5MiwiMDA6Mjg6MzcuNzQxIiwiMjItSnVuLTIwMTgiLDcuOTY2MzU4LDgu\nMDAwNDcxLDE0LjA4MzgxLC0wLjkzNjEzNzIsLTAuODkxNzM3NiwxMy4xODAzNywyNy44MzMzMyw2\nLjIsNC44OTQyOCwxMS43MDg5OSwiMDI6Mzk6MDIiLCIyMDE4LTA5LTI3Iiw0NDEuOTI2NCwyOS4w\nMDAzMSwxMi45NjEzOSwwLjMzNDk5ODcsMSwiMjAxODI3MCIsIjIuNTg4OTU1Iiw0LjcyNSwwLjA2\nNjE1LDAuMDMyMiwwLjAwOSwwLDE3OTkzLDg3My41LDE0LDE5NjI4NS41LDIuMjUsNSw1OTguNSwi\nMDIzOTI4LjkwIiwiMjciLCIwOSIsIjIwMTgiLDE3Ljc1LDIyLjQ3LDY2LjIyLDY2LjM4LDEwMjYu\nODE4LCI1MzE5Ljg2MTMiLCIwMDk1NS45MTUyIiw1My4zMzEwMiwtOS45MzE5MiwiMiIsIjExIiwx\nMy4xMiwxMy4xNSwtMTk0LjQsMCwwLjAyMywwLjAxLDAsMCwxNS43NiwxMy4xDQoiMjAxOC0wOS0y\nNyAwMjo1MDowMCIsMTIwNTAsIiIsIiIsMTMuOTUwNjgsNC4wNjUyODgsMC44OTE3LDMzLjg0NzQ0\nLCIwMDozODozNy43ODUiLCIyMi1KdW4tMjAxOCIsNy45NzM2OTUsOC4wMDQ3MTMsMTQuMDgxMjIs\nLTAuOTM1NzIwMywtMC44OTE0OTgxLDEzLjE3MzQ4LDI3LjgzMzMzLDYuMiw0Ljg5NDY2NiwxMS43\nMTAyLCIwMjo0OTowMiIsIjIwMTgtMDktMjciLDQ0MS43OTI0LDI4Ljk5OTgxLDEyLjk1NzEzLDAu\nMzM2MTk1LDEsIjIwMTgyNzAiLCIyLjc1NTg5OSIsNC42MiwwLjA2NDY1LDAuMDMyMzUsMC4wMDkw\nNDk5OTksMCwxNzk4Nyw4NzMsMTQsMTk2Mjg3LjUsMi4yLDUsNjAwLCIwMjQ5MjguOTAiLCIyNyIs\nIjA5IiwiMjAxOCIsMTcuNzgsMjMuMjcsNjQuMDcsNjYuMjksMTAyNi40OTgsIjUzMTkuODYxMSIs\nIjAwOTU1LjkxNTYiLDUzLjMzMTAyLC05LjkzMTkyNiwiMiIsIjExIiwxMy4xMiwxMy4xNSwtMTk0\nLjYsMCwwLjA2OCwwLjAxLDAsMCwxNS43NSwxMy4xDQoiMjAxOC0wOS0yNyAwMzowMDowMCIsMTIw\nNTEsIiIsIiIsMTMuOTQzODgsNC4wNjM1NDMsMC44ODMyOTk5LDMzLjgzNzIyLCIwMDo0ODozNy44\nMjkiLCIyMi1KdW4tMjAxOCIsNy45NjkxOTgsOC4wMDAyMTksMTQuMDc2MzEsLTAuOTM1OTc4OSwt\nMC44OTE3NTg1LDEzLjE3MzQ0LDI3Ljc4MzMzLDYuMiw0Ljg5NDY1MywxMS43MTAyLCIwMjo1OTow\nMiIsIjIwMTgtMDktMjciLDQ0MS44MTczLDI5LjAwMDI1LDEyLjk1MzE4LDAuMzM2NTk3NiwxLCIy\nMDE4MjcwIiwiMi45MjIyODkiLDQuNDksMC4wNjI4NSwwLjAzMjQsMC4wMDkyLDAsMTc5ODYuNSw4\nNzMsMTQsMTk2Mjg5LjUsMi4yLDUsNTk4LCIwMjU5MjguOTAiLCIyNyIsIjA5IiwiMjAxOCIsMTgu\nNjcsMjIuNjMsNjcuMjUsNjYuMjgsMTAyNi4yNTIsIjUzMTkuODYxMiIsIjAwOTU1LjkxNjMiLDUz\nLjMzMTAyLC05LjkzMTkzOCwiMiIsIjEwIiwxMy4xMiwxMy4xNCwtMTk0LjIsMCwwLjAzNSwwLjAx\nLDAsMCwxNS43NSwxMy4wOA0KIjIwMTgtMDktMjcgMDM6MTA6MDAiLDEyMDUyLCIiLCIiLDEzLjk0\nMzAxLDQuMDYzOTE4LDAuODkzNjk5OSwzMy44NDE1LCIwMDo1ODozNy44NjYiLCIyMi1KdW4tMjAx\nOCIsNy45NzAyMzEsOC4wMDEyOCwxNC4wNzQ3MiwtMC45MzU5MjA4LC0wLjg5MTY5OTMsMTMuMTY4\nMTMsMjcuODE1LDYuMiw0Ljg5NjI2NiwxMS43MDk2OCwiMDM6MDk6MDIiLCIyMDE4LTA5LTI3Iiw0\nNDEuODEzOSwyOC45OTk3NywxMi45NDg4NywwLjMzNTcyOTUsMSwiMjAxODI3MCIsIjMuMDg4OTQ5\nIiw0LjcxLDAuMDY1OTUsMC4wMzI0NSwwLjAwOTE1LDAsMTc5ODUuNSw4NzMsMTQsMTk2MjkxLjUs\nMi4zLDUsNTk4LjUsIjAzMDkyOS4wMCIsIjI3IiwiMDkiLCIyMDE4IiwyMC4yNywyNS42LDczLjI2\nLDY2LjEyLDEwMjYuMTI0LCI1MzE5Ljg2MDciLCIwMDk1NS45MTU3Iiw1My4zMzEwMiwtOS45MzE5\nMjksIjIiLCIxMCIsMTMuMTIsMTMuMTIsLTE5NC4zLDAsMC4wMTUsMC4wMSwwLDAsMTUuNzQsMTMu\nMDkNCiIyMDE4LTA5LTI3IDAzOjIwOjAwIiwxMjA1MywiIiwiIiwxMy45NDE4Niw0LjA2NDMxOSww\nLjkwNzY5OTksMzMuODQ2MTksIjAxOjA4OjM3LjkxMCIsIjIyLUp1bi0yMDE4Iiw3Ljk3MDA1OSw4\nLjAwMTA4NiwxNC4wNzMyOSwtMC45MzU5MzEzLC0wLjg5MTcxMTcsMTMuMTY3MiwyNy44ODMzMyw2\nLjIsNC44OTY0MTMsMTEuNzA5NzcsIjAzOjE5OjAyIiwiMjAxOC0wOS0yNyIsNDQxLjczNTIsMjku\nMDAwMDIsMTIuOTQ0NzksMC4zMzY1MTY1LDEsIjIwMTgyNzAiLCIzLjI1NTYyMSIsNC42MjUsMC4w\nNjQ4LDAuMDMyNCwwLjAwOTE1LDAsMTc5ODcuNSw4NzMsMTQsMTk2MjkzLjUsMi4yLDUsNTk5LjUs\nIjAzMTkyOS4xMCIsIjI3IiwiMDkiLCIyMDE4IiwxOS4yNywyNy40Nyw3Ni40Niw2Ni4zNywxMDI2\nLjA4NCwiNTMxOS44NjAzIiwiMDA5NTUuOTE1NyIsNTMuMzMxLC05LjkzMTkyOSwiMiIsIjEwIiwx\nMy4xMSwxMy4xMiwtMTk0LjMsMCwwLjAwNCwwLjAxLDAsMCwxNS43NCwxMy4wOA0KIjIwMTgtMDkt\nMjcgMDM6MzA6MDAiLDEyMDU0LCIiLCIiLDEzLjk0NTczLDQuMDY2ODMxLDAuODkyNCwzMy44NjYx\nNCwiMDE6MTg6MzcuOTQ5IiwiMjItSnVuLTIwMTgiLDcuOTc0ODMsOC4wMDU3NjcsMTQuMDc0NDks\nLTAuOTM1NjU4NywtMC44OTE0NDM4LDEzLjE1OTY4LDI3Ljc2ODMzLDYuMiw0Ljg5NDUyLDExLjcw\nOTE1LCIwMzoyOTowMiIsIjIwMTgtMDktMjciLDQ0MS40NSwyOS4wMDAxNCwxMi45NDAwNiwwLjMz\nNjU1NjYsMSwiMjAxODI3MCIsIjMuNDIyNTc1Iiw0LjY2NSwwLjA2NTMsMC4wMzIzLDAuMDA5Miww\nLDE3OTkxLjUsODczLjUsMTQsMTk2Mjk1LjUsMi4yNSw1LDU5OC41LCIwMzI5MjkuMTAiLCIyNyIs\nIjA5IiwiMjAxOCIsMjMuNDgsMjguNDcsNzcuNzUsNjUuODYsMTAyNS44NDEsIjUzMTkuODYwOSIs\nIjAwOTU1LjkxNTMiLDUzLjMzMTAyLC05LjkzMTkyMiwiMiIsIjEwIiwxMy4xMSwxMy4xMiwtMTk0\nLjEsMCwwLjAwMiwwLjAxLDAsMCwxNS43NCwxMy4xDQoiMjAxOC0wOS0yNyAwMzo0MDowMCIsMTIw\nNTUsIiIsIiIsMTMuOTQ5MDEsNC4wNzAwMjYsMC45MTQ5LDMzLjg5Mjk2LCIwMToyODozNy45OTYi\nLCIyMi1KdW4tMjAxOCIsNy45Nzc0OTMsOC4wMDg0MDQsMTQuMDc3NzQsLTAuOTM1NTA1NCwtMC44\nOTEyOTA2LDEzLjE1Njc0LDI3Ljg5ODMzLDYuMiw0Ljg5NTYxMywxMS43MDk1MywiMDM6Mzk6MDIi\nLCIyMDE4LTA5LTI3Iiw0NDAuOTE1OCwyOS4wMDAzNCwxMi45MzYxNywwLjMzNjIyNjcsMSwiMjAx\nODI3MCIsIjMuNTg4OTQ5Iiw0Ljc5LDAuMDY3MTUsMC4wMzIsMC4wMDg5NSwwLDE4MDA0LDg3NC41\nLDE0LDE5NjI5Ny41LDIuMjUsNSw1OTYuNSwiMDMzOTI5LjIwIiwiMjciLCIwOSIsIjIwMTgiLDI1\nLjU3LDMxLDc4LjIzLDY2LjA1LDEwMjUuODkyLCI1MzE5Ljg2MDkiLCIwMDk1NS45MTU5Iiw1My4z\nMzEwMiwtOS45MzE5MzEsIjIiLCI5IiwxMy4xMSwxMy4xMiwtMTk0LjUsMCwwLjAwMSwwLjAxLDAs\nMCwxNS43NiwxMy4wOQ0KIjIwMTgtMDktMjcgMDM6NTA6MDAiLDEyMDU2LCIiLCIiLDEzLjk0NTA1\nLDQuMDcwMDczLDAuOTAxMjk5OSwzMy44OTY5LCIwMTozODozOC4wMzMiLCIyMi1KdW4tMjAxOCIs\nNy45NzY3NzQsOC4wMDc1MDcsMTQuMDc0NzQsLTAuOTM1NTQ4LC0wLjg5MTM0NDQsMTMuMTQ3NSwy\nNy44ODUsNi4yLDQuODk2LDExLjcxMDA3LCIwMzo0OTowMiIsIjIwMTgtMDktMjciLDQ0MC44NDE5\nLDI4Ljk5OTksMTIuOTMwNTIsMC4zMzgyODksMSwiMjAxODI3MCIsIjMuNzU1ODkzIiw0LjU4NSww\nLjA2NDIsMC4wMzE4NSwwLjAwODgsMCwxODAwNiw4NzMsMTQsMTk2Mjk5LjUsMi4yNSw1LDYwMCwi\nMDM0OTI5LjIwIiwiMjciLCIwOSIsIjIwMTgiLDI2LjA1LDMzLjgsODAuMyw2OC4wMiwxMDI1Ljg1\nMSwiNTMxOS44NjA4IiwiMDA5NTUuOTE2MCIsNTMuMzMxMDIsLTkuOTMxOTM0LCIyIiwiMTEiLDEz\nLjEsMTMuMTIsLTE5NC40LDAsMC4wMDQsMC4wMSwwLDAsMTUuNzcsMTMuMDgNCiIyMDE4LTA5LTI3\nIDA0OjAwOjAwIiwxMjA1NywiIiwiIiwxMy45NTA3NSw0LjA3Mzc2NSwwLjg5MjgsMzMuOTI2MTgs\nIjAxOjQ4OjM4LjA3NyIsIjIyLUp1bi0yMDE4Iiw3Ljk3NzgxOSw4LjAwODM3LDE0LjA3ODA2LC0w\nLjkzNTQ4NjcsLTAuODkxMjkyNCwxMy4xNDA4MiwyNy44NjY2Nyw2LjIsNC44OTQ1MTksMTEuNzA5\nNjcsIjAzOjU5OjAyIiwiMjAxOC0wOS0yNyIsNDM5Ljk3OCwyOC45OTk4MSwxMi45MjYxNCwwLjMz\nNzUyNTksMSwiMjAxODI3MCIsIjMuOTIyNTY2Iiw0Ljc1NSwwLjA2NjY1LDAuMDMxNSwwLjAwOSww\nLDE4MDE1LDg3NCwxNCwxOTYzMDEuNSwyLjI1LDUsNTk5LjUsIjAzNTkyOS4zMCIsIjI3IiwiMDki\nLCIyMDE4IiwyNS4xMiwzMC4yMyw4My43LDY5Ljg1LDEwMjUuOTYzLCI1MzE5Ljg2MDgiLCIwMDk1\nNS45MTU4Iiw1My4zMzEwMiwtOS45MzE5MywiMiIsIjExIiwxMy4wOCwxMy4xMSwtMTk0LjEsMCww\nLjAwMSwwLjAxLDAsMCwxNS43OCwxMy4wOA0KIjIwMTgtMDktMjcgMDQ6MTA6MDAiLDEyMDU4LCIi\nLCIiLDEzLjk1MzM0LDQuMDc2NTYzLDAuOTEyNSwzMy45NDk5MywiMDE6NTg6MzguMTIwIiwiMjIt\nSnVuLTIwMTgiLDcuOTc3MDQ4LDguMDA3NTYzLDE0LjA4MDAxLC0wLjkzNTUyOTcsLTAuODkxMzM2\nNiwxMy4xMzgxMiwyNy45MTY2Nyw2LjIsNC44OTQyOTMsMTEuNzA5MTMsIiIsIiIsNDM5LjAzNDgs\nMjguOTk5ODUsMTIuOTIxMDMsMC4zMzY3MDc2LCJOQU4iLCIyMDE4MjcwIiwiNC4wODg5NDgiLDQu\nNzU1LDAuMDY2NiwwLjAzMTA1LDAuMDA4NDk5OTk5LDAsMTgwMzEuNSw4NzMuNSwxNCwxOTYzMDMu\nNSwyLjI1LDUsNTk5LjUsIjA0MDkyOS4zMCIsIjI3IiwiMDkiLCIyMDE4IiwyNC42MywzMC43Myw4\nMS41LDY5LjAxLDEwMjUuODkzLCI1MzE5Ljg2MDgiLCIwMDk1NS45MTUxIiw1My4zMzEwMiwtOS45\nMzE5MTgsIjIiLCIxMCIsMTMuMDgsMTMuMTEsLTE5NC40LE5BTiwwLDAuMDMyLDAsMCwxNS43OSwx\nMy4wNg0KIjIwMTgtMDktMjcgMDQ6MjA6MDAiLDEyMDU5LCIiLCIiLDEzLjk2Nyw0LjA4MjYwMSww\nLjg4OTIsMzMuOTkzOTksIjAyOjA4OjM4LjE2MCIsIjIyLUp1bi0yMDE4Iiw3Ljk3ODA2Myw4LjAw\nODU5LDE0LjA4ODUyLC0wLjkzNTQ2NzgsLTAuODkxMjcwNywxMy4xMzksMjcuOTUsNi4yLDQuODkz\nMjkzLDExLjcwOTkyLCIwNDoxOTowMiIsIjIwMTgtMDktMjciLDQzNy41NDQ3LDI5LjAwMDA1LDEy\nLjkxNTgxLDAuMzM3NDkxLDEsIjIwMTgyNzAiLCI0LjI1NTYyMiIsNC42NzUsMC4wNjU0NSwwLjAz\nMDU1LDAuMDA4MzUsMCwxODA0OC41LDg3My41LDE0LDE5NjMwNS41LDIuMTUsNSw2MDAuNSwiMDQx\nOTI5LjQwIiwiMjciLCIwOSIsIjIwMTgiLDI0LjU0LDI5LjkzLDgwLjksNjcuODEsMTAyNS44NzEs\nIjUzMTkuODYxMCIsIjAwOTU1LjkxNjYiLDUzLjMzMTAyLC05LjkzMTk0MywiMiIsIjkiLDEzLjA4\nLDEzLjExLC0xOTQuNywwLDAsMC4wMSwwLDAsMTUuODEsMTMuMDYNCiIyMDE4LTA5LTI3IDA0OjMw\nOjAwIiwxMjA2MCwiIiwiIiwxMy45ODgyOCw0LjA5MDA0OSwwLjkwNzI5OTksMzQuMDQ0MzcsIjAy\nOjE4OjM4LjE5OSIsIjIyLUp1bi0yMDE4Iiw3Ljk3NzQ5MSw4LjAwNzc2OCwxNC4xMDM2MiwtMC45\nMzU0OTMyLC0wLjg5MTMwNDYsMTMuMTMzMjYsMjcuOTY2NjcsNi4yLDQuODk0NDI2LDExLjcwOTAx\nLCIwNDoyOTowMiIsIjIwMTgtMDktMjciLDQzNi4wNjUyLDI4Ljk5OTk5LDEyLjkxMDYxLDAuMzM2\nOTY2NiwxLCIyMDE4MjcwIiwiNC40MjIyODIiLDQuNzI1LDAuMDY2MTUsMC4wMjk4NSwwLjAwODA0\nOTk5OSwwLDE4MDcyLjUsODc0LjUsMTQsMTk2MzA3LjUsMi4yNSw1LDYwMCwiMDQyOTI5LjQwIiwi\nMjciLCIwOSIsIjIwMTgiLDIzLjQ1LDI4LjIsODEuNSw2Ni43MiwxMDI1LjgyMywiNTMxOS44NjA4\nIiwiMDA5NTUuOTE1NyIsNTMuMzMxMDIsLTkuOTMxOTI5LCIyIiwiMTAiLDEzLjA4LDEzLjA5LC0x\nOTQuNywwLDAsMC4wMSwwLDAsMTUuODIsMTMuMDUNCiIyMDE4LTA5LTI3IDA0OjQwOjAwIiwxMjA2\nMSwiIiwiIiwxNC4wMDE2NSw0LjA5NDg3MiwwLjg5NTMsMzQuMDc3MzQsIjAyOjI4OjM4LjI0MSIs\nIjIyLUp1bi0yMDE4Iiw3Ljk3NDI4Miw4LjAwNDQ1NywxNC4xMTYxNywtMC45MzU2NzAxLC0wLjg5\nMTQ4MjYsMTMuMTI4NzYsMjcuOTY2NjcsNi4yLDQuODkzMzMzLDExLjcwOTUzLCIwNDozOTowMiIs\nIjIwMTgtMDktMjciLDQzNC44ODY2LDI4Ljk5OTkyLDEyLjkwNTY2LDAuMzM3NTE4NywxLCIyMDE4\nMjcwIiwiNC41ODg5NDgiLDQuNTY1LDAuMDYzOTUsMC4wMjk0NSwwLjAwODA5OTk5OSwwLDE4MDgx\nLDg3Mi41LDE0LjA1LDE5NjMwOS41LDIuMjUsNSw2MDEsIjA0MzkyOS41MCIsIjI3IiwiMDkiLCIy\nMDE4IiwyMy40LDMxLjI3LDgyLjMsNjMuMiwxMDI1LjczNSwiNTMxOS44NjA5IiwiMDA5NTUuOTE1\nOCIsNTMuMzMxMDIsLTkuOTMxOTMsIjIiLCIxMCIsMTMuMDcsMTMuMDgsLTE5NC40LE5BTiwwLDAu\nMDMyLDAsMCwxNS44MywxMy4wNQ0KIjIwMTgtMDktMjcgMDQ6NTA6MDAiLDEyMDYyLCIiLCIiLDE0\nLjAxMjQsNC4wOTkxODMsMC45MzgxLDM0LjEwNzg2LCIwMjozODozOC4yODciLCIyMi1KdW4tMjAx\nOCIsNy45NzMwOTIsOC4wMDI5ODIsMTQuMTI2OTUsLTAuOTM1NzMyNiwtMC44OTE1NTc0LDEzLjEx\nODUyLDI3Ljk1LDYuMiw0Ljg5Mzk3MywxMS43MTAzMywiMDQ6NDk6MDIiLCIyMDE4LTA5LTI3Iiw0\nMzMuNzUxOCwyOC45OTk3OSwxMi44OTk0OSwwLjMzNzc1ODgsMSwiMjAxODI3MCIsIjQuNzU1NjE1\nIiw0LjU3NSwwLjA2NDEsMC4wMjg5LDAuMDA3NzUsMCwxODA5OSw4NzMuNSwxNC4xLDE5NjMxMS41\nLDIuMiw1LDYwMi41LCIwNDQ5MjkuNTAiLCIyNyIsIjA5IiwiMjAxOCIsMjIuMzUsMjguODMsODMu\nNyw1OC45NiwxMDI1LjY4NSwiNTMxOS44NjA1IiwiMDA5NTUuOTE2MCIsNTMuMzMxLC05LjkzMTkz\nNCwiMiIsIjEwIiwxMy4wNywxMy4wOCwtMTk0LjUsMCwwLDAuMDEsMCwwLDE1Ljg1LDEzLjA1DQoi\nMjAxOC0wOS0yNyAwNTowMDowMCIsMTIwNjMsIiIsIiIsMTQuMDE2NTgsNC4xMDE2ODksMC45MDQy\nOTk5LDM0LjEyNzQ2LCIwMjo0ODozOC4zMjciLCIyMi1KdW4tMjAxOCIsNy45Nzk4MzgsOC4wMDk2\nNjIsMTQuMTMzNzIsLTAuOTM1MzQ0OSwtMC44OTExNzA3LDEzLjExMjE0LDI3Ljk2NjY3LDYuMiw0\nLjg5NTQ5MywxMS43MTAzMywiMDQ6NTk6MDIiLCIyMDE4LTA5LTI3Iiw0MzMuMDA4NSwyOC45OTk0\nNCwxMi44OTQ2NywwLjMzNzYyNjksMSwiMjAxODI3MCIsIjQuOTIyNTU5Iiw0Ljg5NSwwLjA2ODU1\nLDAuMDI4NiwwLjAwNzU1LDAsMTgxMTIuNSw4NzMsMTQuMSwxOTYzMTMuNSwyLjMsNSw2MDEuNSwi\nMDQ1OTI5LjUwIiwiMjciLCIwOSIsIjIwMTgiLDIzLjg2LDI5LjY3LDg0LjEsNjAuNDUsMTAyNS41\nODIsIjUzMTkuODYwNCIsIjAwOTU1LjkxNjQiLDUzLjMzMSwtOS45MzE5NCwiMiIsIjkiLDEzLjA3\nLDEzLjA4LC0xOTQuNiwwLDAsMC4wMSwwLDAsMTUuODYsMTMuMDUNCiIyMDE4LTA5LTI3IDA1OjEw\nOjAwIiwxMjA2NCwiIiwiIiwxNC4wMjM4Miw0LjEwNDYwNiwwLjkxMTg5OTksMzQuMTQ4MTEsIjAy\nOjU4OjM4LjM3MSIsIjIyLUp1bi0yMDE4Iiw3Ljk3ODE1NCw4LjAwNzg2OCwxNC4xNDA3MiwtMC45\nMzU0Mzc1LC0wLjg5MTI2NywxMy4xMDUwNSwyNy45MTY2Nyw2LjIsNC44OTYyNjYsMTEuNzA5Njcs\nIjA1OjA5OjAyIiwiMjAxOC0wOS0yNyIsNDMyLjQyNzMsMjkuMDAwNTksMTIuODg5NTcsMC4zMzYz\nMzIsMSwiMjAxODI3MCIsIjUuMDg5MjI2Iiw0Ljc0NSwwLjA2NjQ5OTk5LDAuMDI4NCwwLjAwNzQs\nMCwxODExNyw4NzMsMTQuMSwxOTYzMTUuNSwyLjIsNSw2MDAsIjA1MDkyOS42MCIsIjI3IiwiMDki\nLCIyMDE4IiwyNC42OSwzMi44Myw4NS4yLDYwLjU3LDEwMjUuNTkzLCI1MzE5Ljg2MDciLCIwMDk1\nNS45MTYyIiw1My4zMzEwMiwtOS45MzE5MzYsIjIiLCI4IiwxMy4wNSwxMy4wNywtMTkzLjgsTkFO\nLDAsMC4wMzIsMCwwLDE1Ljg4LDEzLjA0DQoiMjAxOC0wOS0yNyAwNToyMDowMCIsMTIwNjUsIiIs\nIiIsMTQuMDM0NTIsNC4xMDgxMjYsMC45MjEzLDM0LjE3MTI5LCIwMzowODozOC40MDgiLCIyMi1K\ndW4tMjAxOCIsNy45NzczNjIsOC4wMDY5MjcsMTQuMTUwMzIsLTAuOTM1NDc4LC0wLjg5MTMxMjIs\nMTMuMTA2NDMsMjgsNi4yLDQuODk0OCwxMS43MDk5MywiMDU6MTk6MDIiLCIyMDE4LTA5LTI3Iiw0\nMzEuNjc3NiwyOS4wMDAxMywxMi44ODM5OSwwLjMzNzYzMTcsMSwiMjAxODI3MCIsIjUuMjU1NjE1\nIiw0LjkxLDAuMDY4OCwwLjAyODEsMC4wMDcyNSwwLDE4MTI4LDg3My41LDE0LjEsMTk2MzE3LjUs\nMi4yLDUsNjAyLjUsIjA1MTkyOS42MCIsIjI3IiwiMDkiLCIyMDE4IiwyMy4xMSwyOC4yMyw4Ni45\nLDU4LjQ1LDEwMjUuNzAyLCI1MzE5Ljg2MDciLCIwMDk1NS45MTUyIiw1My4zMzEwMiwtOS45MzE5\nMiwiMiIsIjEwIiwxMy4wNCwxMy4wNywtMTk0LjcsMCwwLDAuMDEsMCwwLDE1Ljg5LDEzLjAyDQoi\nMjAxOC0wOS0yNyAwNTozMDowMCIsMTIwNjYsIiIsIiIsMTQuMDUwNDksNC4xMTM5OTMsMC44OTY5\nOTk5LDM0LjIxMTYzLCIwMzoxODozOC40NTIiLCIyMi1KdW4tMjAxOCIsNy45Nzg5NjksOC4wMDg1\nNDgsMTQuMTY0MjUsLTAuOTM1Mzc5OCwtMC44OTEyMDc4LDEzLjA5NDcxLDI3Ljk2NjY3LDYuMiw0\nLjg5NDkzMywxMS43MDk5MywiMDU6Mjk6MDIiLCIyMDE4LTA5LTI3Iiw0MzAuNzYzNywyOS4wMDAy\nLDEyLjg3ODUzLDAuMzM3MzkyNywxLCIyMDE4MjcwIiwiNS40MjIyODUiLDQuODEsMC4wNjczNSww\nLjAyNzMsMC4wMDcxNSwwLDE4MTUzLDg3MywxNC4xLDE5NjMxOS41LDIuMjUsNSw2MDEuNSwiMDUy\nOTI4LjcwIiwiMjciLCIwOSIsIjIwMTgiLDIzLjEzLDI4LjgzLDkxLjksNTguMTgsMTAyNS42ODUs\nIjUzMTkuODYwOSIsIjAwOTU1LjkxNjQiLDUzLjMzMTAyLC05LjkzMTk0LCIyIiwiMTAiLDEzLjA0\nLDEzLjA3LC0xOTQuMiwwLDAsMC4wMSwwLDAsMTUuOSwxMy4wMg0KIjIwMTgtMDktMjcgMDU6NDA6\nMDAiLDEyMDY3LCIiLCIiLDE0LjA0NTkzLDQuMTE0Njg0LDAuOTI2MDk5OSwzNC4yMjIwOCwiMDM6\nMjg6MzguNDkxIiwiMjItSnVuLTIwMTgiLDcuOTc2OTk5LDguMDA2MjM2LDE0LjE2NjI3LC0wLjkz\nNTQ5MSwtMC44OTEzMzc4LDEzLjA5MzQzLDI3LjkzMzMzLDYuMjAxNjY2LDQuODk2MjY2LDExLjcx\nMDMzLCIwNTozOTowMiIsIjIwMTgtMDktMjciLDQzMC40MTgxLDI5LjAwMDA1LDEyLjg3MzA1LDAu\nMzM3NjY1LDEsIjIwMTgyNzAiLCI1LjU4OTIyOSIsNC44NCwwLjA2NzgsMC4wMjc1NSwwLjAwNzEs\nMCwxODE0NS41LDg3My41LDE0LjEsMTk2MzIxLjUsMi4yLDUuMDUsNjAzLjUsIjA1MzkyOC43MCIs\nIjI3IiwiMDkiLCIyMDE4IiwyMi40MiwyNy4xNyw5Ni4zLDU4LjMyLDEwMjUuNTcxLCI1MzE5Ljg2\nMDgiLCIwMDk1NS45MTU4Iiw1My4zMzEwMiwtOS45MzE5MywiMiIsIjEwIiwxMy4wNCwxMy4wNCwt\nMTk0LjQsMCwwLDAuMDEsMCwwLDE1LjkxLDEzLjAxDQoiMjAxOC0wOS0yNyAwNTo1MDowMCIsMTIw\nNjgsIiIsIiIsMTQuMDY0MDcsNC4xMjIxMzYsMC45MDM3OTk5LDM0LjI3NTE3LCIwMzozODozOC41\nMzgiLCIyMi1KdW4tMjAxOCIsNy45Nzc1NCw4LjAwNjc3MywxNC4xNzc2MSwtMC45MzU0NTQ3LC0w\nLjg5MTI5NzUsMTMuMDg3MzIsMjgsNi4yLDQuODkzOTczLDExLjcwOTY3LCIwNTo0OTowMiIsIjIw\nMTgtMDktMjciLDQyOS4xNzU1LDI4Ljk5OTg0LDEyLjg2ODIsMC4zMzc1MzE0LDEsIjIwMTgyNzAi\nLCI1Ljc1NTYxNSIsNC43ODUsMC4wNjY5NDk5OSwwLjAyNjYsMC4wMDY2LDAsMTgxNzUuNSw4NzMs\nMTQuMSwxOTYzMjMuNSwyLjI1LDUsNjAyLjUsIjA1NDkyOC43MCIsIjI3IiwiMDkiLCIyMDE4Iiwy\nNC44OCwzMC4yNyw5MS4zLDU3LjU3LDEwMjUuMzI1LCI1MzE5Ljg2MDciLCIwMDk1NS45MTU3Iiw1\nMy4zMzEwMiwtOS45MzE5MjksIjIiLCI5IiwxMy4wNCwxMy4wNCwtMTk0LjksMCwwLjA0NywwLjA2\nOSwwLDAsMTUuOTEsMTMuMDENCiIyMDE4LTA5LTI3IDA2OjAwOjAwIiwxMjA2OSwiIiwiIiwxNC4w\nNzI4NSw0LjEzMTIyOSwwLjg4NzUsMzQuMzUxOCwiMDM6NDg6MzguNTc0IiwiMjItSnVuLTIwMTgi\nLDcuOTc5MjE0LDguMDA3OTc4LDE0LjE5MTMsLTAuOTM1MzUyNywtMC44OTEyMTcsMTMuMDg0MDIs\nMjgsNi4yMDE2NjYsNC44OTM2LDExLjcwOTgsIjA1OjU5OjAyIiwiMjAxOC0wOS0yNyIsNDI3LjQ4\nNDksMjkuMDAwMDksMTIuODYyODUsMC4zMzgwNDQ1LDEsIjIwMTgyNzAiLCI1LjkyMjI4NSIsNC44\nMDUsMC4wNjczLDAuMDI1NTUsMC4wMDYzNSwwLDE4MjEwLDg3MiwxNC4xLDE5NjMyNS41LDIuMTUs\nNSw2MDMsIjA1NTkyOC44MCIsIjI3IiwiMDkiLCIyMDE4IiwyNS41OSwzMS41Nyw5OS4zLDU2Ljk4\nLDEwMjUuMjAzLCI1MzE5Ljg2MTAiLCIwMDk1NS45MTYwIiw1My4zMzEwMiwtOS45MzE5MzQsIjIi\nLCI5IiwxMy4wMywxMy4wNCwtMTk0LjgsMCwwLjI4NiwwLjUwNSwwLDAsMTUuOTEsMTMuMDENCiIy\nMDE4LTA5LTI3IDA2OjEwOjAwIiwxMjA3MCwiIiwiIiwxNC4wMzg3Niw0LjEyOTA2NSwwLjg5NDA5\nOTksMzQuMzYyMTUsIjAzOjU4OjM4LjYxOCIsIjIyLUp1bi0yMDE4Iiw3Ljk4MDcwNSw4LjAwNjgw\nNSwxNC4xNzIxLC0wLjkzNTI3NywtMC44OTEzMDA0LDEzLjA4MTU3LDI3Ljk1LDYuMjEsNC44OTQy\nNjYsMTEuNzEwODcsIjA2OjA5OjAyIiwiMjAxOC0wOS0yNyIsNDI3Ljg2NzUsMjguOTk5ODIsMTIu\nODU4NDIsMC4zMzY5MzAzLDEsIjIwMTgyNzAiLCI2LjA4OTIyOSIsNC41MywwLjA2MzQ0OTk5LDAu\nMDI1NSwwLjAwNjEsMCwxODIxMC41LDg3Mi41LDE0LjEsMTk2MzI3LjUsMi4yLDUsNjA0LjUsIjA2\nMDkyOC44MCIsIjI3IiwiMDkiLCIyMDE4IiwyNSwyOS41Nyw5Mi40LDU2LjY3LDEwMjUuMzE3LCI1\nMzE5Ljg2MDciLCIwMDk1NS45MTYwIiw1My4zMzEwMiwtOS45MzE5MzQsIjIiLCIxMCIsMTMuMDMs\nMTMuMDQsLTE5NS45LDAsMi4wMjYsMi43OTIsMCwwLDE1LjksMTMuMDENCiIyMDE4LTA5LTI3IDA2\nOjIwOjAwIiwxMjA3MSwiIiwiIiwxNC4wNDU3Nyw0LjEzMzk2NywwLjkxOTk5OTksMzQuNDAxNDcs\nIjA0OjA4OjM4LjY2MyIsIjIyLUp1bi0yMDE4Iiw3Ljk4MDM1OSw4LjAwODQ4NiwxNC4xNzIyMSwt\nMC45MzUyOTY2LC0wLjg5MTIwNDQsMTMuMDczMTMsMjcuOTgzMzMsNi4yNDg1LDQuODk0NDQsMTEu\nNzEwMiwiMDY6MTk6MDIiLCIyMDE4LTA5LTI3Iiw0MjguMDQyMiwyOC45OTk3OSwxMi44NTQwNSww\nLjMzNjY0MTcsMSwiMjAxODI3MCIsIjYuMjU1NjE2Iiw0Ljc2LDAuMDY2NjUsMC4wMjUyNSwwLjAw\nNjIsMCwxODIxNy41LDg3My41LDE0LjEsMTk2MzI5LjUsMi4zLDUsNjAyLjUsIjA2MTkyOC45MCIs\nIjI3IiwiMDkiLCIyMDE4IiwyMi45MSwyNy4yNyw4Ny45LDU2LjYsMTAyNS40NzQsIjUzMTkuODYx\nMCIsIjAwOTU1LjkxNjgiLDUzLjMzMTAyLC05LjkzMTk0NiwiMiIsIjEwIiwxMy4wMywxMy4wMywt\nMTk4LjMsMCw3Ljk5LDkuODMsMCwwLDE1Ljg5LDEzLjAyDQoiMjAxOC0wOS0yNyAwNjozMDowMCIs\nMTIwNzIsIiIsIiIsMTQuMDc3NjksNC4xNDMyNzEsMC44ODAzLDM0LjQ1OTM2LCIwNDoxODozOC43\nMDIiLCIyMi1KdW4tMjAxOCIsNy45ODA5NzEsOC4wMTEzMDYsMTQuMTkyOTYsLTAuOTM1MjUxNywt\nMC44OTEwMjU4LDEzLjA2ODk5LDI4LDYuMjI2NSw0Ljg5NDI1MywxMS43MDk1NSwiMDY6Mjk6MDIi\nLCIyMDE4LTA5LTI3Iiw0MjYuNTI1NCwyOS4wMDAxMywxMi44NTAwMSwwLjMzODY4MjMsMSwiMjAx\nODI3MCIsIjYuNDIyNTU5Iiw0LjU2LDAuMDYzODk5OTksMC4xMDM2LDAuMDc4ODk5OTksMCwxNTYz\nMi41LDg3MywxNC4xLDE5NjMzMS41LDIuMyw1LDYwNCwiMDYyOTI4LjkwIiwiMjciLCIwOSIsIjIw\nMTgiLDIzLjIyLDI3LjMzLDg3LjMsNTYuNiwxMDI1LjU2OCwiNTMxOS44NjA4IiwiMDA5NTUuOTE3\nMiIsNTMuMzMxMDIsLTkuOTMxOTU0LCIyIiwiOSIsMTMuMDIsMTMuMDMsLTE5NSxOQU4sMTIuODks\nTkFOLDAsTkFOLDE1Ljg4LDEzDQoiMjAxOC0wOS0yNyAwNjo0MDowMCIsMTIwNzMsIiIsIiIsMTQu\nMTAwMjEsNC4xNTAzNjQsMC44NywzNC41MDUxLCIwNDoyODozOC43NDEiLCIyMi1KdW4tMjAxOCIs\nNy45ODM5ODYsOC4wMTExMDIsMTQuMjExNjIsLTAuOTM1MDcwOCwtMC44OTEwMjEzLDEzLjA2ODYx\nLDI3Ljk4MTY3LDYuMjAzMzMzLDQuODk1MDgsMTEuNzEwOTksIjA2OjM5OjAyIiwiMjAxOC0wOS0y\nNyIsNDI1LjI2MTcsMjguOTk5NzUsMTIuODQ3NTcsMC4zMzgxNTA4LDEsIjIwMTgyNzAiLCI2LjU4\nODk0OCIsNC41NTUsMC4wNjM4LDAuMDI0MjUsMC4wMDYxNSwwLDE4MjQ5LjUsODczLDE0LjEsMTk2\nMzMzLjUsMi4yLDUsNjA0LCIwNjM5MjguOTAiLCIyNyIsIjA5IiwiMjAxOCIsMjEuODUsMjcuMzcs\nODcuOSw1Ni41LDEwMjUuNzY5LCI1MzE5Ljg2MDgiLCIwMDk1NS45MTY3Iiw1My4zMzEwMiwtOS45\nMzE5NDUsIjIiLCI5IiwxMy4wMSwxMy4wMywtMTk0LjMsMCwxMi45NiwxMi45NywwLDAsMTUuODgs\nMTMNCiIyMDE4LTA5LTI3IDA2OjUwOjAwIiwxMjA3NCwiIiwiIiwxNC4xMTgwNyw0LjE1NTU0NCww\nLjg5NDM5OTksMzQuNTM3MTcsIjA0OjM4OjM4Ljc4MyIsIjIyLUp1bi0yMDE4Iiw3Ljk4NTE1LDgu\nMDEyMDMxLDE0LjIyNjg2LC0wLjkzNDk5NywtMC44OTA5NTUyLDEzLjA2NzkyLDI3Ljk2ODMzLDYu\nMjEsNC44OTUwNCwxMS43MDk0MSwiMDY6NDk6MDIiLCIyMDE4LTA5LTI3Iiw0MjQuOTIwMywyOS4w\nMDAyMywxMi44NDYwMSwwLjMzNzU4NzQsMSwiMjAxODI3MCIsIjYuNzU1NjE1Iiw0LjUxNSwwLjA2\nMzI1LDAuMDIzMywwLjAwNTMsMCwxODI4Miw4NzIsMTQuMSwxOTYzMzUuNSwyLjI1LDUsNjA0LjUs\nIjA2NDkyOC45MCIsIjI3IiwiMDkiLCIyMDE4IiwyMS40OCwyNi43Nyw4Ni4yLDU2LjQzLDEwMjUu\nNzkyLCI1MzE5Ljg2MDYiLCIwMDk1NS45MTY0Iiw1My4zMzEwMiwtOS45MzE5NCwiMiIsIjkiLDEz\nLDEzLjAzLC0xOTUuNywwLDEyLjk4LDEyLjk5LDAsMCwxNS44OSwxMi45OQ0KIjIwMTgtMDktMjcg\nMDc6MDA6MDAiLDEyMDc1LCIiLCIiLDE0LjE0NDk0LDQuMTYwNjc2LDAuOTE0NiwzNC41NjA2OSwi\nMDQ6NDg6MzguODI5IiwiMjItSnVuLTIwMTgiLDcuOTg2ODg2LDguMDEzNTgsMTQuMjQ5NjMsLTAu\nOTM0ODg3LC0wLjg5MDg0NzEsMTMuMDYzMjksMjcuOTgzMzMsNi4yMDY2NjYsNC44OTQ0LDExLjcx\nMDQ1LCIwNjo1OTowMiIsIjIwMTgtMDktMjciLDQyNC4yNDg0LDI5LjAwMDEzLDEyLjg0Nzk1LDAu\nMzM3NjI1LDEsIjIwMTgyNzAiLCI2LjkyMjI4MiIsNC40MywwLjA2MjA1LDAuMDIyOCwwLjAwNTA1\nLDAsMTgzMDIsODcyLDE0LjIsMTk2MzM3LjUsMi4xNSw1LDYwMiwiMDY1OTI4LjkwIiwiMjciLCIw\nOSIsIjIwMTgiLDIyLjU2LDI3LjE3LDgzLjIsNTYuNTcsMTAyNS42MjMsIjUzMTkuODU5OCIsIjAw\nOTU1LjkxNzIiLDUzLjMzMSwtOS45MzE5NTQsIjIiLCI4IiwxMy4wMSwxMy4wMywtMTkyLjMsMCwx\nNi41NiwxNi44MiwwLDAsMTUuOSwxMw0KIjIwMTgtMDktMjcgMDc6MTA6MDAiLDEyMDc2LCIiLCIi\nLDE0LjE1NTgxLDQuMTYzMTksMC45MzAyLDM0LjU3NDI2LCIwNDo1ODozOC44NjkiLCIyMi1KdW4t\nMjAxOCIsNy45ODcwOTgsOC4wMTM0OTUsMTQuMjYyMDgsLTAuOTM0ODY5LC0wLjg5MDg0MTMsMTMu\nMDcyODIsMjcuOTQ4MzMsNi4yMTM1LDQuODk0NjkzLDExLjcxMDQ3LCIwNzowOTowMiIsIjIwMTgt\nMDktMjciLDQyNC4wNTU3LDI5LjAwMDM2LDEyLjg1NTE2LDAuMzM3MzM0NywxLCIyMDE4MjcwIiwi\nNy4wODg5NDkiLDQuNjgsMC4wNjU1NSwwLjAyMjY1LDAuMDA1MSwwLDE4MzA2LDg3MywxNC4yLDE5\nNjMzOS41LDIuMTUsNSw2MDMsIjA3MDkyOC45MCIsIjI3IiwiMDkiLCIyMDE4IiwyMS4zNywyNy4x\nLDgyLjMsNTYuNTIsMTAyNS41MDksIjUzMTkuODU5OSIsIjAwOTU1LjkxNzYiLDUzLjMzMSwtOS45\nMzE5NiwiMiIsIjgiLDEzLjAyLDEzLjAzLC0xODYuNCwwLDIyLjQzLDIzLjcsMCwwLDE1LjkyLDEz\nLjAxDQoiMjAxOC0wOS0yNyAwNzoyMDowMCIsMTIwNzcsIiIsIiIsMTQuMTgxODEsNC4xNjgyOTks\nMC44OTEwOTk5LDM0LjU5ODM1LCIwNTowODozOC45MTMiLCIyMi1KdW4tMjAxOCIsNy45ODUzNjQs\nOC4wMTE1NDIsMTQuMjg0NDksLTAuOTM0OTU3LC0wLjg5MDkzMzQsMTMuMDkyODgsMjcuOTM1LDYu\nMjk1LDQuODk1ODUzLDExLjcwOTgsIjA3OjE5OjAyIiwiMjAxOC0wOS0yNyIsNDIzLjM3NTMsMjgu\nOTk5NywxMi44NzI1LDAuMzM2NTk5NCwxLCIyMDE4MjcwIiwiNy4yNTU4OTMiLDQuNjU1LDAuMDY1\nMTk5OTksMC4wMjMyLDAuMDA1OSwwLDE4Mjc5LDg3MiwxNC4yLDE5NjM0MS41LDIuMiw1LDYwMSwi\nMDcxOTI5LjAwIiwiMjciLCIwOSIsIjIwMTgiLDIxLjQsMjcuMzcsODEuNiw1Ni41MiwxMDI1LjY1\nMiwiNTMxOS44NjAyIiwiMDA5NTUuOTE3MyIsNTMuMzMxLC05LjkzMTk1NSwiMiIsIjkiLDEyLjc4\nLDEzLjA1LE5BTiwwLE5BTiwyNC44NyxOQU4sMC4yMDMsMTUuOTQsMTMuMDENCiIyMDE4LTA5LTI3\nIDA3OjMwOjAwIiwxMjA3OCwiIiwiIiwxNC4yMzgzLDQuMTc5MzY2LDAuOTIwNywzNC42NTAyMSwi\nMDU6MTg6MzguOTUwIiwiMjItSnVuLTIwMTgiLDcuOTg1MTI5LDguMDExMzEsMTQuMzI0MDYsLTAu\nOTM0OTUxMywtMC44OTA5MTIzLDEzLjEzOTI1LDI3Ljk1LDYuMyw0Ljg5NTk4NiwxMS43MDk2Nywi\nMDc6Mjk6MDIiLCIyMDE4LTA5LTI3Iiw0MjEuNzc1LDI5LjAwMDM2LDEyLjkyMzgyLDAuMzM1MTQx\nMywxLCIyMDE4MjcwIiwiNy40MjI1NTkiLDQuNTk1LDAuMDY0MzUsMC4wMjYzLDAuMDEwMSwwLDE4\nMTQyLDg3MiwxNC4yLDE5NjM0My41LDIuMTUsNSw2MDAuNSwiMDcyOTI5LjAwIiwiMjciLCIwOSIs\nIjIwMTgiLDIwLjIsMjQuMjMsODEuOCw1Ni40MywxMDI1Ljg5OCwiNTMxOS44NjA1IiwiMDA5NTUu\nOTE3MCIsNTMuMzMxLC05LjkzMTk1LCIyIiwiOSIsMTMuMDksMTMuMSwtMTQ1LjMsMCwzMC42NSwy\nNi45OSwwLjI3OCwwLjUxNywxNS45NywxMy4wNQ0KIjIwMTgtMDktMjcgMDc6NDA6MDAiLDEyMDc5\nLCIiLCIiLDE0LjI1NjYyLDQuMTgzMTI1LDAuODkxMTk5OSwzNC42Njg2MSwiMDU6Mjg6MzguOTk0\nIiwiMjItSnVuLTIwMTgiLDcuOTg4MjIxLDguMDE0MjA2LDE0LjM1MDU2LC0wLjkzNDc2MjEsLTAu\nODkwNzI0MiwxMy4yMzYyOCwyNy41ODE2Nyw2LjMsNC44OTM5ODYsMTEuNzEwNzMsIjA3OjM5OjAy\nIiwiMjAxOC0wOS0yNyIsNDIwLjY3NzgsMjguOTk5NywxMy4wMjAwOCwwLjMzMjg3MTEsMSwiMjAx\nODI3MCIsIjcuNTg4OTUyIiw0LjU3NSwwLjA2NDA1LDAuMDI0NzUsMC4wMDgxLDAsMTgyMTUuNSw4\nNzEuNSwxNC4yNSwxOTYzNDUuNSwyLjIsNSw1OTcuNSwiMDczOTI5LjIwIiwiMjciLCIwOSIsIjIw\nMTgiLDIxLjk5LDI2LjA3LDgxLjYsNTYuNDUsMTAyNS44MTksIjUzMTkuODYwNSIsIjAwOTU1Ljkx\nNjgiLDUzLjMzMSwtOS45MzE5NDYsIjIiLCI5IiwxMy4yMSwxMy4yLE5BTiw0LjE2NyxOQU4sMjgu\nMzEsTkFOLDAuNTYzLDE2LDEzLjEzDQoiMjAxOC0wOS0yNyAwNzo1MDowMCIsMTIwODAsIiIsIiIs\nMTQuMjY0OTgsNC4xODUxNzgsMC44OTgxOTk5LDM0LjY4MDA5LCIwNTozODozOS4wMzMiLCIyMi1K\ndW4tMjAxOCIsNy45ODk4NzEsOC4wMTU2OTQsMTQuMzY1LC0wLjkzNDY2MDksLTAuODkwNjI2OSwx\nMy4yOTY3OCwyNy40MTY2Nyw2LjMsNC44OTQ5NDYsMTEuNzA5OCwiMDc6NDk6MDIiLCIyMDE4LTA5\nLTI3Iiw0MTkuMzM3OSwyOS4wMDAwMiwxMy4wNzg3OSwwLjMzMDIwNzgsMSwiMjAxODI3MCIsIjcu\nNzU1NjE1Iiw0LjQ2NSwwLjA2MjU0OTk5LDAuMDIxLDAuMDA0MTUsMCwxODM2Mi41LDg3MS41LDE0\nLjMsMTk2MzQ3LjUsMi4yLDUsNTk2LjUsIjA3NDkyOS4yMCIsIjI3IiwiMDkiLCIyMDE4IiwyMC40\nNSwyNS45LDc5LjQ1LDU2LjQ0LDEwMjUuODM3LCI1MzE5Ljg2MDMiLCIwMDk1NS45MTczIiw1My4z\nMzEsLTkuOTMxOTU1LCIyIiwiMTAiLDEzLjI0LDEzLjI2LC0xMTEuMyxOQU4sMzIuMDUsTkFOLDAu\nNzExLE5BTiwxNi4wNSwxMy4yDQoiMjAxOC0wOS0yNyAwODowMDowMCIsMTIwODEsIiIsIiIsMTQu\nMjY5NzcsNC4xODYxNjQsMC44ODcyOTk5LDM0LjY4NDkzLCIwNTo0ODozOS4wODAiLCIyMi1KdW4t\nMjAxOCIsNy45ODk2NTQsOC4wMTU0NzEsMTQuMzc1NywtMC45MzQ2NjgxLC0wLjg5MDYzMDMsMTMu\nMjk3MiwyNy40MzMzMyw2LjMsNC44OTQ5NiwxMS43MDk4LCIwNzo1OTowMiIsIjIwMTgtMDktMjci\nLDQxOC45MDQzLDI5LjAwMDA1LDEzLjA3OTk0LDAuMzMwNTQ1MiwxLCIyMDE4MjcwIiwiNy45MjIy\nOTIiLDQuNDg1LDAuMDYyODUsMC4wMjA4LDAuMDA0MiwwLDE4MzY3LjUsODcxLDE0LjMsMTk2MzQ5\nLjUsMi4xNSw1LDU5NC41LCIwNzU5MjkuMzAiLCIyNyIsIjA5IiwiMjAxOCIsMjEuMzYsMjcuNjcs\nODQuNyw1Ni41OCwxMDI2LjEzNSwiNTMxOS44NjAzIiwiMDA5NTUuOTE3MCIsNTMuMzMxLC05Ljkz\nMTk1LCIyIiwiMTAiLDEzLjI0LDEzLjI3LC0xNTAuNiwwLjE2NywyNy43NCwyNy42LDAuMDU5LDAu\nNzE4LDE2LjEyLDEzLjIyDQoiMjAxOC0wOS0yNyAwODoxMDowMCIsMTIwODIsIiIsIiIsMTQuMjcw\nODEsNC4xODY1MTgsMC44ODg5OTk5LDM0LjY4NzI4LCIwNTo1ODozOS4xMTciLCIyMi1KdW4tMjAx\nOCIsNy45ODcwMjUsOC4wMTI3OTgsMTQuMzgyNDgsLTAuOTM0ODE0OSwtMC44OTA3NzcsMTMuMzIx\nMzMsMjcuMzUsNi4zLDQuODk2NjI2LDExLjcxMDA3LCIwODowOTowMiIsIjIwMTgtMDktMjciLDQx\nOC42Nzg4LDI5LjAwMDc1LDEzLjEwMDg3LDAuMzI5NzQ1OSwxLCIyMDE4MjcwIiwiOC4wODkyMjYi\nLDQuNDA1LDAuMDYxNywwLjAyMDcsMC4wMDQxLDAsMTgzNzQuNSw4NzMsMTQuMywxOTYzNTEuNSwy\nLjE1LDUuMDUsNTkxLjUsIjA4MDkyOS4zMCIsIjI3IiwiMDkiLCIyMDE4IiwyMS4wOCwyNi41Myw4\nNyw1Ni44MywxMDI1LjkzNSwiNTMxOS44NjA1IiwiMDA5NTUuOTE2NCIsNTMuMzMxLC05LjkzMTk0\nLCIyIiwiMTAiLDEzLjI2LDEzLjI4LC0xNDQuOSwyMC42NywzMC4yMywzMC42MywwLjEwOCwxLjAw\nNywxNi4xOSwxMy4yNA0KIjIwMTgtMDktMjcgMDg6MjA6MDAiLDEyMDgzLCIiLCIiLDE0LjI2Mjcz\nLDQuMTg0Nzk3LDAuOTA4OTk5OSwzNC42Nzg1NiwiMDY6MDg6MzkuMTYxIiwiMjItSnVuLTIwMTgi\nLDcuOTg1ODUxLDguMDExMzIxLDE0LjM4NTI0LC0wLjkzNDg4MDUsLTAuODkwODU4OSwxMy4zNTg5\nNCwyNy4yLDYuMyw0Ljg5MzYyNiwxMS43MDkyNywiMDg6MTk6MDIiLCIyMDE4LTA5LTI3Iiw0MTgu\nNzg1MywyOC45OTk3MiwxMy4xNDA5NCwwLjMyODQyNDYsMSwiMjAxODI3MCIsIjguMjU1ODkzIiw0\nLjMyLDAuMDYwNDUsMC4wMjEyLDAuMDA0NTUsMCwxODM1OSw4NzIsMTQuMywxOTYzNTMuNSwyLjIs\nNS4wNSw1OTEsIjA4MTkyOS4zMCIsIjI3IiwiMDkiLCIyMDE4IiwyMS40LDI1LjYsODguNSw1Ni45\nMiwxMDI1Ljg4OCwiNTMxOS44NjA2IiwiMDA5NTUuOTE2NyIsNTMuMzMxMDIsLTkuOTMxOTQ1LCIy\nIiwiMTAiLDEzLjMsMTMuMzIsLTEzMi44LE5BTiwzMi4xNSxOQU4sMC4yNTYsTkFOLDE2LjI2LDEz\nLjI3DQoiMjAxOC0wOS0yNyAwODozMDowMCIsMTIwODQsIiIsIiIsMTQuMjAxMiw0LjE3MjY1LDAu\nODk4Njk5OSwzNC42MjEyOSwiMDY6MTg6MzkuMjA1IiwiMjItSnVuLTIwMTgiLDcuOTg3MTgxLDgu\nMDEyNDQ4LDE0LjM0ODM3LC0wLjkzNDgyMjQsLTAuODkwODI2NCwxMy4zODk1MiwyNy4wODMzMyw2\nLjMsNC44OTUwNCwxMS43MTAyLCIwODoyOTowMiIsIjIwMTgtMDktMjciLDQyMS4wMzE2LDI5LjAw\nMDA0LDEzLjE3MzUsMC4zMjg2ODg2LDEsIjIwMTgyNzAiLCI4LjQyMjU1OSIsNC42NiwwLjA2NTI1\nLDAuMDIxOCwwLjAwNDc1LDAsMTgzMzUuNSw4NzEuNSwxNC4zLDE5NjM1NS41LDIuMTUsNSw1ODks\nIjA4MjkyOS40MCIsIjI3IiwiMDkiLCIyMDE4IiwyMS41OCwyNi40Myw4OC43LDU2Ljk0LDEwMjYu\nMDUyLCI1MzE5Ljg2MDQiLCIwMDk1NS45MTY4Iiw1My4zMzEsLTkuOTMxOTQ2LCIyIiwiMTAiLDEz\nLjMzLDEzLjM2LC0xNDQuMiw1My42NywzMC43OCwzMS45MSwwLjE1NCwxLjI3NSwxNi4zMiwxMy4z\nDQoiMjAxOC0wOS0yNyAwODo0MDowMCIsMTIwODUsIiIsIiIsMTQuMTk0ODgsNC4xNzE1MjksMC44\nOTc1LDM0LjYxNjU2LCIwNjoyODozOS4yNDUiLCIyMi1KdW4tMjAxOCIsNy45ODY0MDMsOC4wMTE3\nODgsMTQuMzM3MTEsLTAuOTM0ODcyMiwtMC44OTA4NzM4LDEzLjQ0MjQzLDI3LjAzMzMzLDYuMyw0\nLjg5NDY5MywxMS43MDk4LCIwODozOTowMiIsIjIwMTgtMDktMjciLDQyMS4zMDMsMjkuMDAwNDMs\nMTMuMjIzLDAuMzI2MzIzMiwxLCIyMDE4MjcwIiwiOC41ODkyMjYiLDQuMzg1LDAuMDYxNCwwLjAy\nMTg1LDAuMDA0NjUsMCwxODMzMyw4NzEuNSwxNC4yLDE5NjM1Ny41LDIuMiw1LDU4NywiMDgzOTI5\nLjQwIiwiMjciLCIwOSIsIjIwMTgiLDIwLjg5LDI2LjQ3LDkwLDU2Ljg5LDEwMjYuMjU1LCI1MzE5\nLjg2MDgiLCIwMDk1NS45MTY3Iiw1My4zMzEwMiwtOS45MzE5NDUsIjIiLCIxMCIsMTMuMzgsMTMu\nNDEsLTEyNS4yLDU4LjE3LDMwLjQ0LDMyLjM0LE5BTiwxLjE5OCwxNi4zOSwxMy4zNg0KIjIwMTgt\nMDktMjcgMDg6NTA6MDAiLDEyMDg2LCIiLCIiLDE0LjE4OTM5LDQuMTcwNTEyLDAuODg0NiwzNC42\nMTIxLCIwNjozODozOS4yODQiLCIyMi1KdW4tMjAxOCIsNy45ODQxNjcsOC4wMDkyNzYsMTQuMzMw\nOTYsLTAuOTM1MDAyNywtMC44OTEwMjIzLDEzLjQ5ODUzLDI3LjAxNjY3LDYuMyw0Ljg5MzA0LDEx\nLjcxMDMzLCIwODo0OTowMiIsIjIwMTgtMDktMjciLDQyMS41OTE0LDI5LjAwMDA1LDEzLjI4MjQx\nLDAuMzI1NzI3OCwxLCIyMDE4MjcwIiwiOC43NTU4OTMiLDQuNTYsMC4wNjM5LDAuMDIyLDAuMDA0\nOCwwLDE4MzI3LjUsODcxLjUsMTQuMiwxOTYzNTkuNSwyLjI1LDUsNTg0LCIwODQ5MjkuNTAiLCIy\nNyIsIjA5IiwiMjAxOCIsMjAuOTgsMjcuOTMsODguOSw1Ni45LDEwMjYuMjM3LCI1MzE5Ljg2MTIi\nLCIwMDk1NS45MTY0Iiw1My4zMzEwMiwtOS45MzE5NCwiMiIsIjExIiwxMy40NywxMy40NixOQU4s\nMTAxLjcsTkFOLDMzLjIzLE5BTiwxLjk4NywxNi40NSwxMy4zOQ0KIjIwMTgtMDktMjcgMDk6MDA6\nMDAiLDEyMDg3LCIiLCIiLDE0LjEzMzk4LDQuMTU5MDkxLDAuODk5MiwzNC41NTU4MywiMDY6NDg6\nMzkuMzI2IiwiMjItSnVuLTIwMTgiLDcuOTc4NzE2LDguMDAzNTAzLDE0LjI5NDk5LC0wLjkzNTMz\nMSwtMC44OTEzODI3LDEzLjYzNTg2LDI2Ljk2NjY3LDYuMyw0Ljg5NjMwNiwxMS43MDk5MywiMDg6\nNTk6MDIiLCIyMDE4LTA5LTI3Iiw0MjMuMDkxNywyOS4wMDA2LDEzLjQxODk1LDAuMzIzMjE0Nywx\nLCIyMDE4MjcwIiwiOC45MjIyODIiLDQuNzA1LDAuMDY1ODUsMC4wMjI5LDAuMDA1MTUsMCwxODMw\nMCw4NzIsMTQuMiwxOTYzNjEuNSwyLjIsNSw1NzksIjA4NTkyOS41MCIsIjI3IiwiMDkiLCIyMDE4\nIiwyMS45NCwyNy44Nyw5My40LDU2Ljg1LDEwMjYuMTIyLCI1MzE5Ljg2MTEiLCIwMDk1NS45MTY2\nIiw1My4zMzEwMiwtOS45MzE5NDMsIjIiLCIxMSIsMTMuNjEsMTMuNiwtMTguNjUsMTExLjUsMzQu\nNTIsMzQuMTQsMi4zMjYsMi4yMDMsMTYuNTIsMTMuNDkNCiIyMDE4LTA5LTI3IDA5OjEwOjAwIiwx\nMjA4OCwiIiwiIiwxNC4xMDcxNyw0LjE1MzIyNywwLjg4ODU5OTksMzQuNTI1NDQsIjA2OjU4OjM5\nLjM3MiIsIjIyLUp1bi0yMDE4Iiw3Ljk3NzQzOSw4LjAwMjIzOSwxNC4yNjc5MiwtMC45MzU0MTY5\nLC0wLjg5MTQ3ODEsMTMuNzEwNTIsMjcsNi4zLDQuODk1NDQsMTEuNzA5NjcsIjA5OjA5OjAyIiwi\nMjAxOC0wOS0yNyIsNDI0LjAyNzYsMjkuMDAwMjMsMTMuNDkwNywwLjMyMDUzNjQsMSwiMjAxODI3\nMCIsIjkuMDg5MjMyIiw0LjU1LDAuMDYzNywwLjAyMzQsMC4wMDUxLDAsMTgyODUuNSw4NzIsMTQu\nMiwxOTYzNjMuNSwyLjEsNSw1NzYsIjA5MDkyOS41MCIsIjI3IiwiMDkiLCIyMDE4IiwyMi4yOCwz\nMC4zMyw5NS4xLDU2Ljg2LDEwMjYuMDk1LCI1MzE5Ljg2MTAiLCIwMDk1NS45MTYyIiw1My4zMzEw\nMiwtOS45MzE5MzYsIjIiLCIxMCIsMTMuNjYsMTMuNjcsLTg5LDk3LjMsMzIuODcsMzMuMzMsMS4x\nNDYsMi4wMDIsMTYuNTgsMTMuNjQNCiIyMDE4LTA5LTI3IDA5OjIwOjAwIiwxMjA4OSwiIiwiIiwx\nNC4xMTQ0Niw0LjE1NDM0OCwwLjg4NjA5OTksMzQuNTI5MzIsIjA3OjA4OjM5LjQxMiIsIjIyLUp1\nbi0yMDE4Iiw3Ljk3Nzg4NSw4LjAwMjc5MiwxNC4yNjI1MSwtMC45MzUzOTQxLC0wLjg5MTQ1MTMs\nMTMuNzQ1MSwyNyw2LjMsNC44OTU2MjYsMTEuNzA5MTMsIjA5OjE5OjAyIiwiMjAxOC0wOS0yNyIs\nNDI0LjI0NDgsMjkuMDAwMTMsMTMuNTI2MjUsMC4zMjA5ODIzLDEsIjIwMTgyNzAiLCI5LjI1NTg5\nMyIsNC41OTUsMC4wNjQ0LDAuMDIzMywwLjAwNTI1LDAsMTgyODcuNSw4NzIsMTQuMiwxOTYzNjUu\nNSwyLjE1LDUuMDUsNTcyLjUsIjA5MTkyOS42MCIsIjI3IiwiMDkiLCIyMDE4IiwyMS45OCwyNi4x\nNyw5MS41LDU2Ljk0LDEwMjYuMDcxLCI1MzE5Ljg2MTMiLCIwMDk1NS45MTYzIiw1My4zMzEwMiwt\nOS45MzE5MzgsIjIiLCIxMSIsMTMuNjksMTMuNzEsLTEwMi4zLDEwNi43LDMyLjU5LDMzLjYxLDAu\nOTYyLDIuMTE3LDE2LjY0LDEzLjY1DQoiMjAxOC0wOS0yNyAwOTozMDowMCIsMTIwOTAsIiIsIiIs\nMTQuMTI3NjUsNC4xNTY4ODEsMC44OTk2LDM0LjU0MSwiMDc6MTg6MzkuNDU2IiwiMjItSnVuLTIw\nMTgiLDcuOTc2MTk2LDguMDAxNDQxLDE0LjI2NjU5LC0wLjkzNTQ4ODUsLTAuODkxNTI0NywxMy44\nMTUxNCwyNi45NjY2Nyw2LjMsNC44OTQ1MDYsMTEuNzA5NCwiMDk6Mjk6MDIiLCIyMDE4LTA5LTI3\nIiw0MjMuOTMzMSwyOS4wMDAxLDEzLjU5NjY5LDAuMzE5NDM0MiwxLCIyMDE4MjcwIiwiOS40MjI1\nNjYiLDQuNiwwLjA2NDQsMC4wMjMxLDAuMDA1MiwwLDE4Mjk1LDg3My41LDE0LjIsMTk2MzY3LjUs\nMi4xLDUsNTY5LjUsIjA5MjkyOS42MCIsIjI3IiwiMDkiLCIyMDE4IiwyMC42NSwyNS4wNyw4Ny42\nLDU3LDEwMjUuOTM0LCI1MzE5Ljg2MDgiLCIwMDk1NS45MTU2Iiw1My4zMzEwMiwtOS45MzE5MjYs\nIjIiLCIxMCIsMTMuOCwxMy43OCwtMjguNjUsTkFOLDM0LjI2LE5BTiwyLjE4LE5BTiwxNi43LDEz\nLjcyDQoiMjAxOC0wOS0yNyAwOTo0MDowMCIsMTIwOTEsIiIsIiIsMTQuMTQyMjMsNC4xNTk0MjYs\nMC44ODMyOTk5LDM0LjU1MTU1LCIwNzoyODozOS40OTMiLCIyMi1KdW4tMjAxOCIsNy45NzQ1NzUs\nNy45OTk4NTEsMTQuMjczMzksLTAuOTM1NTc3NiwtMC44OTE2MDk2LDEzLjkwMTUzLDI3LDYuMyw0\nLjg5NDI2NiwxMS43MDk0MSwiMDk6Mzk6MDIiLCIyMDE4LTA5LTI3Iiw0MjQuMTM1NCwyOS4wMDAy\nLDEzLjY3Njg4LDAuMzE4NDU0OCwxLCIyMDE4MjcwIiwiOS41ODkyMzIiLDQuNjY1LDAuMDY1MzUs\nMC4wMjMsMC4wMDUwNSwwLDE4Mjk2LDg3MS41LDE0LjIsMTk2MzY5LjUsMi4xNSw1LDU2NiwiMDkz\nOTI4LjcwIiwiMjciLCIwOSIsIjIwMTgiLDIwLjk0LDI3LjAzLDg2LjgsNTYuOTgsMTAyNi4wNjcs\nIjUzMTkuODYwOSIsIjAwOTU1LjkxNTUiLDUzLjMzMTAyLC05LjkzMTkyNSwiMiIsIjEwIiwxMy44\nNCwxMy44NiwtNC43NjYsMTE0LjUsMzQuNTgsMzMuNjgsMi42ODcsMi4yMSwxNi43NiwxMy44DQoi\nMjAxOC0wOS0yNyAwOTo1MDowMCIsMTIwOTIsIiIsIiIsMTQuMTUzLDQuMTYxMjM4LDAuODczNTk5\nOSwzNC41NTg2OSwiMDc6Mzg6MzkuNTM3IiwiMjItSnVuLTIwMTgiLDcuOTcyNjc2LDcuOTk3OTg2\nLDE0LjI4MDMxLC0wLjkzNTY4MjYsLTAuODkxNzEsMTMuODMxMzgsMjcsNi4zLDQuODk1MzYsMTEu\nNzA4OTksIjA5OjQ5OjAyIiwiMjAxOC0wOS0yNyIsNDI0Ljk3NDgsMjkuMDAwMDUsMTMuNjA5NzYs\nMC4zMTk1NzI2LDEsIjIwMTgyNzAiLCI5Ljc1NTYxNiIsNC41NjUsMC4wNjM5NSwwLjAyMjksMC4w\nMDUsMCwxODI5OSw4NzMsMTQuMiwxOTYzNzEuNSwyLjIsNSw1NjcuNSwiMDk0OTI4LjcwIiwiMjci\nLCIwOSIsIjIwMTgiLDE5Ljk3LDIzLjM3LDg4LjMsNTYuNTQsMTAyNi4zNDUsIjUzMTkuODYwOSIs\nIjAwOTU1LjkxNjIiLDUzLjMzMTAyLC05LjkzMTkzNiwiMiIsIjExIiwxMy43OCwxMy43OSwtMTE4\nLDUzLjE3LDMyLjczLDMyLjQsMC44NTcsMS4xODcsMTYuODEsMTMuNzYNCiIyMDE4LTA5LTI3IDEw\nOjAwOjAwIiwxMjA5MywiIiwiIiwxNC4xNTgzMyw0LjE2MjA1LDAuODkzMSwzNC41NjE0MiwiMDc6\nNDg6MzkuNTc2IiwiMjItSnVuLTIwMTgiLDcuOTcxMzksNy45OTQ3NzksMTQuMjg0OTMsLTAuOTM1\nNzUzNywtMC44OTE4ODg5LDEzLjgwNDEzLDI2Ljk2NjY3LDYuMyw0Ljg5NjY1MywxMS43MTA2LCIw\nOTo1OTowMiIsIjIwMTgtMDktMjciLDQyNS40MjYsMjguOTk5ODYsMTMuNTgzOTIsMC4zMTk2OTMs\nMSwiMjAxODI3MCIsIjkuOTIyMjk0Iiw0LjUsMC4wNjI5NSwwLjAyMjgsMC4wMDQ5LDAsMTgzMDIs\nODcyLDE0LjIsMTk2MzczLjUsMi4xNSw1LDU3MSwiMDk1OTI4LjgwIiwiMjciLCIwOSIsIjIwMTgi\nLDIxLjM3LDI4LjQsODguNyw1Ni42LDEwMjYuMzkxLCI1MzE5Ljg2MDgiLCIwMDk1NS45MTU5Iiw1\nMy4zMzEwMiwtOS45MzE5MzEsIjIiLCIxMCIsMTMuNzUsMTMuNzcsLTExOS41LDg1LjIsMzEuOTks\nMzIuOTMsMC42NjcsMS43OTgsMTYuODYsMTMuNzMNCiIyMDE4LTA5LTI3IDEwOjEwOjAwIiwxMjA5\nNCwiIiwiIiwxNC4xMzc0Myw0LjE1NTk0NiwwLjg5Mjk5OTksMzQuNTIzNTEsIjA3OjU4OjM5LjYy\nMyIsIjIyLUp1bi0yMDE4Iiw3Ljk4MzkwNCw4LjAwOTc0NywxNC4yNzc1MSwtMC45MzUwNDM2LC0w\nLjg5MTA0MTcsMTMuNzk3OSwyNyw2LjMsNC44OTQ5MzMsMTEuNzEwNDcsIjEwOjA5OjAyIiwiMjAx\nOC0wOS0yNyIsNDI2LjExMzUsMjkuMDAwNDYsMTMuNTc3MSwwLjMyMDAxMTYsMSwiMjAxODI3MCIs\nIjEwLjA4ODk2MSIsNC42MjUsMC4wNjQ3NDk5OSwwLjAyMzMsMC4wMDUxNSwwLDE4Mjg0LDg3Miwx\nNC4yLDE5NjM3NS41LDIuMiw1LDU2OC41LCIxMDA5MjguODAiLCIyNyIsIjA5IiwiMjAxOCIsMjIu\nNSwyNy44Myw5MS42LDU2LjcyLDEwMjYuMjI5LCI1MzE5Ljg2MDUiLCIwMDk1NS45MTQ4Iiw1My4z\nMzEsLTkuOTMxOTE0LCIyIiwiOSIsMTMuNzQsMTMuNzYsLTEyNS45LDg2LjgsMzIuNDYsMzIuODgs\nMC41ODgsMS44NDcsMTYuODksMTMuNzENCiIyMDE4LTA5LTI3IDEwOjIwOjAwIiwxMjA5NSwiIiwi\nIiwxNC4wMjQ1Miw0LjEyMDA3MywwLjg5Mzk5OTksMzQuMjkxMjQsIjA4OjA4OjM5LjY2MCIsIjIy\nLUp1bi0yMDE4Iiw3Ljk3NTM5OSw4LjAwMzE5LDE0LjIwMzIyLC0wLjkzNTU2NDQsLTAuODkxNDc5\nNywxMy44NjMzNCwyNyw2LjMsNC44OTYsMTEuNzA5ODEsIjEwOjE5OjAyIiwiMjAxOC0wOS0yNyIs\nNDMwLjEyNTEsMjguOTk5OTgsMTMuNjQyOTYsMC4zMTkxNjA0LDEsIjIwMTgyNzAiLCIxMC4yNTU4\nOTMiLDQuNjM1LDAuMDY0OTUsMC4wMjY3LDAuMDA2NTUsMCwxODE3Miw4NzMsMTQuMTUsMTk2Mzc3\nLjUsMi4xLDUsNTY2LjUsIjEwMTkyOC44MCIsIjI3IiwiMDkiLCIyMDE4IiwyMi45NSwyOS4xMyw5\nMy40LDU2LjYyLDEwMjYuMjI0LCI1MzE5Ljg2MDgiLCIwMDk1NS45MTQ0Iiw1My4zMzEwMiwtOS45\nMzE5MDYsIjIiLCIxMSIsMTMuODEsMTMuODIsLTYxLjkxLDE0NiwzMy41MSwzNC4xMSwxLjY2LDIu\nNzEzLDE2LjkyLDEzLjc2DQoiMjAxOC0wOS0yNyAxMDozMDowMCIsMTIwOTYsIiIsIiIsMTMuOTkx\nMzEsNC4xMDc1MTksMC44OTE0LDM0LjIwNDEsIjA4OjE4OjM5LjcwNCIsIjIyLUp1bi0yMDE4Iiw3\nLjk3MjM2OSw3Ljk5ODEsMTQuMTY2NzgsLTAuOTM1NzU0NywtMC44OTE4MDEyLDEzLjg4MTQsMjcs\nNi4zLDQuODk0NjgsMTEuNzEwMDUsIjEwOjI5OjAyIiwiMjAxOC0wOS0yNyIsNDMyLjEyNjEsMjku\nMDAwMjIsMTMuNjU4MjEsMC4zMTkzNTcsMSwiMjAxODI3MCIsIjEwLjQyMjU2OCIsNC43MDUsMC4w\nNjU5LDAuMDI3ODUsMC4wMDcyNSwwLDE4MTMzLDg3My41LDE0LjEsMTk2Mzc5LjUsMi4yNSw1LDU2\nNiwiMTAyOTI4LjkwIiwiMjciLCIwOSIsIjIwMTgiLDIzLjMzLDI4LjQsOTQsNTYuNjIsMTAyNi4y\nOTYsIjUzMTkuODYwOSIsIjAwOTU1LjkxMzgiLDUzLjMzMTAyLC05LjkzMTg5NiwiMiIsIjExIiwx\nMy44MiwxMy44MywtODYuMSwxMDQuMywzMy45LDMzLjgzLDEuMjIsMi4xMSwxNi45NCwxMy44DQoi\nMjAxOC0wOS0yNyAxMDo0MDowMCIsMTIwOTcsIiIsIiIsMTMuOTc2NjgsNC4xMDI1MTYsMC44Nzk2\nLDM0LjE3MDYxLCIwODoyODozOS43NDgiLCIyMi1KdW4tMjAxOCIsNy45NjM2Myw3Ljk4OTg1Mywx\nNC4xNDM5NiwtMC45MzYyNjM4LC0wLjg5MjI5MTEsMTMuODk0MDgsMjYuOTMzMzMsNi4zLDQuODk2\nMjY2LDExLjcwOTY3LCIiLCIiLDQzNC4wODg4LDI5LjAwMDQxLDEzLjY3MzYsMC4zMTg0NzU3LCJO\nQU4iLCIyMDE4MjcwIiwiMTAuNTg4OTUxIiw0LjY5LDAuMDY1NywwLjAyODEsMC4wMDczNSwwLDE4\nMTI1LjUsODczLjUsMTQuMSwxOTYzODEuNSwyLjEsNSw1NjUuNSwiMTAzOTI4LjkwIiwiMjciLCIw\nOSIsIjIwMTgiLDI0LjA5LDMwLjEsOTMuOCw1Ni43NiwxMDI2LjEwMiwiNTMxOS44NjA1IiwiMDA5\nNTUuOTE1MiIsNTMuMzMxLC05LjkzMTkyLCIyIiwiMTAiLDEzLjgzLDEzLjg1LC05Ni4zLDEyMy4y\nLDMzLjQsMzQuMDksMS4xMDUsMi40OSwxNi45NiwxMy44DQoiMjAxOC0wOS0yNyAxMDo1MDowMCIs\nMTIwOTgsIiIsIiIsMTMuOTc5ODMsNC4xMDM5NjYsMC44NTE3LDM0LjE4MTMsIjA4OjM4OjM5Ljc4\nNSIsIjIyLUp1bi0yMDE4Iiw3Ljk1OTMxLDcuOTg1OTYzLDE0LjEzNjU5LC0wLjkzNjUxMzUsLTAu\nODkyNTE5MSwxMy44ODQyLDI2LjksNi4zLDQuODkzOTg2LDExLjcwOTY3LCIxMDo0OTowMiIsIjIw\nMTgtMDktMjciLDQzNC44OTExLDI4Ljk5OTg5LDEzLjY1NzU4LDAuMzE5MDg2NSwxLCIyMDE4Mjcw\nIiwiMTAuNzU1NjE2Iiw0LjgsMC4wNjcyNSwwLjAyOCwwLjAwNzM1LDAsMTgxMzIsODczLjUsMTQu\nMSwxOTYzODMuNSwyLjIsNSw1NjQuNSwiMTA0OTI4LjkwIiwiMjciLCIwOSIsIjIwMTgiLDI0LjA4\nLDI4LjYzLDk1LjMsNTcuNTQsMTAyNi4xMjIsIjUzMTkuODYwNiIsIjAwOTU1LjkxNDgiLDUzLjMz\nMTAyLC05LjkzMTkxNCwiMiIsIjkiLDEzLjgyLDEzLjg0LC0xMDIuMSw4NC4zLDMzLjEsMzMuMDUs\nMS4wMjYsMS43NTIsMTYuOTcsMTMuNzcNCiIyMDE4LTA5LTI3IDExOjAwOjAwIiwxMjA5OSwiIiwi\nIiwxMy45ODY1Miw0LjEwNTE3NiwwLjg1MTQ5OTksMzQuMTg2NTksIjA4OjQ4OjM5LjgzMSIsIjIy\nLUp1bi0yMDE4Iiw3Ljk1ODYyMiw3Ljk4NTQ0LDE0LjEzNDE3LC0wLjkzNjU1MzksLTAuODkyNTUx\nLDEzLjgyMjkxLDI3LDYuMyw0Ljg5NDkyLDExLjcwOTAxLCIxMDo1OTowMiIsIjIwMTgtMDktMjci\nLDQzNy40Mzk5LDI4Ljk5OTc1LDEzLjYwMjA5LDAuMzIxMzIzNiwxLCIyMDE4MjcwIiwiMTAuOTIy\nMjgyIiw0LjY5LDAuMDY1NywwLjAyOCwwLjAwNzE1LDAsMTgxMjkuNSw4NzIuNSwxNC4xLDE5NjM4\nNS41LDIuMTUsNS4wNSw1NzAuNSwiMTA1OTI4LjkwIiwiMjciLCIwOSIsIjIwMTgiLDIyLjU3LDI5\nLjA3LDk2LDU3LjgyLDEwMjYuMjgzLCI1MzE5Ljg2MDgiLCIwMDk1NS45MTQwIiw1My4zMzEwMiwt\nOS45MzE5LCIyIiwiMTEiLDEzLjc3LDEzLjc4LC0xMzYuNiw3NiwzMS41MywzMi41OSwwLjM0Miwx\nLjcxMiwxNi45OCwxMy43NQ0KIjIwMTgtMDktMjcgMTE6MTA6MDAiLDEyMTAwLCIiLCIiLDEzLjk5\nMDA4LDQuMTAyMzM0LDAuODgwNiwzNC4xNTY5NywiMDg6NTg6MzkuODY4IiwiMjItSnVuLTIwMTgi\nLDcuOTU5NzYyLDcuOTg2NzM4LDE0LjEzMjEzLC0wLjkzNjQ5LC0wLjg5MjQ3ODgsMTMuODMwOTEs\nMjcsNi4zLDQuODk1ODgsMTEuNzA5OTIsIjExOjA5OjAyIiwiMjAxOC0wOS0yNyIsNDQwLjYyMTYs\nMjkuMDAwMDEsMTMuNjEzNTksMC4zMjAwNzY0LDEsIjIwMTgyNzAiLCIxMS4wODg5NDgiLDQuNzE1\nLDAuMDY2MDk5OTksMC4wMjg1NSwwLjAwNzQ1LDAsMTgxMTQsODc0LDE0LjEsMTk2Mzg3LjUsMi4x\nNSw1LDU2OC41LCIxMTA5MjguOTAiLCIyNyIsIjA5IiwiMjAxOCIsMjMuMzYsMjcuNSwxMDIuMSw1\nNy44MSwxMDI2LjMzNSwiNTMxOS44NjA3IiwiMDA5NTUuOTEzNyIsNTMuMzMxMDIsLTkuOTMxODk1\nLCIyIiwiMTEiLDEzLjc4LDEzLjc5LC0xMTYuOCwxMDEuNSwzMi4zMywzMy4zNywwLjc4NCwyLjA1\nMywxNi45NywxMy43Ng0KIjIwMTgtMDktMjcgMTE6MjA6MDAiLDEyMTAxLCIiLCIiLDEzLjk4ODA5\nLDQuMTAwMDk5LDAuODc1NywzNC4xMzc5OSwiMDk6MDg6MzkuOTEwIiwiMjItSnVuLTIwMTgiLDcu\nOTU3OTEyLDcuOTg1MDY1LDE0LjEyODI4LC0wLjkzNjU5NzMsLTAuODkyNTc3NSwxMy44NTQ5OSwy\nNi45MzMzMyw2LjMsNC44OTUwNjYsMTEuNzA5NjcsIjExOjE5OjAyIiwiMjAxOC0wOS0yNyIsNDQx\nLjIwODksMjkuMDAwMTYsMTMuNjM0NDMsMC4zMTkyNzg2LDEsIjIwMTgyNzAiLCIxMS4yNTU4OTki\nLDQuNjY1LDAuMDY1MzUsMC4wMjg4LDAuMDA3OCwwLDE4MTAxLjUsODczLjUsMTQuMSwxOTYzODku\nNSwyLjIsNS4wNSw1NjcsIjExMTkyOS4wMCIsIjI3IiwiMDkiLCIyMDE4IiwyMS45MSwyNy42Myw5\nNS45LDU3LjgxLDEwMjYuMzUyLCI1MzE5Ljg2MDgiLCIwMDk1NS45MTQyIiw1My4zMzEwMiwtOS45\nMzE5MDMsIjIiLCIxMSIsMTMuOCwxMy44MiwtMTAxLjEsOTcuNywzMy4wNiwzMy40OCwwLjk0Niwy\nLjAyOCwxNi45NCwxMy43OA0KIjIwMTgtMDktMjcgMTE6MzA6MDAiLDEyMTAyLCIiLCIiLDEzLjk5\nMDMyLDQuMTAxMzMxLDAuODc0NSwzNC4xNDc0NywiMDk6MTg6MzkuOTU0IiwiMjItSnVuLTIwMTgi\nLDcuOTU5NjE5LDcuOTg3MDA4LDE0LjEyNjksLTAuOTM2NTAwNiwtMC44OTI0Njc4LDEzLjg1OTY5\nLDI2LjkzMzMzLDYuMyw0Ljg5NDQsMTEuNzEwNDcsIjExOjI5OjAyIiwiMjAxOC0wOS0yNyIsNDM5\nLjkwNjEsMjguOTk5NywxMy42MzY5MiwwLjMxOTY2MTQsMSwiMjAxODI3MCIsIjExLjQyMjI4NSIs\nNC42MjUsMC4wNjQ4LDAuMDI4NTUsMC4wMDc0NSwwLDE4MTExLDg3MywxNC4xLDE5NjM5MS41LDIu\nMjUsNSw1NjUsIjExMjkyOS4wMCIsIjI3IiwiMDkiLCIyMDE4IiwyMy45OSwyOC4zMyw5My41LDU0\nLjkyLDEwMjYuMiwiNTMxOS44NjAzIiwiMDA5NTUuOTE0MSIsNTMuMzMxLC05LjkzMTkwMywiMiIs\nIjExIiwxMy44LDEzLjgyLC0xMDcuOCw4Ny41LDMyLjI2LDMzLjMzLDAuODMzLDEuODU4LDE2Ljks\nMTMuNzYNCiIyMDE4LTA5LTI3IDExOjQwOjAwIiwxMjEwMywiIiwiIiwxMy45OTYzMyw0LjEwMzUz\nOCwwLjg5MDE5OTksMzQuMTYyNjMsIjA5OjI4OjM5Ljk5MyIsIjIyLUp1bi0yMDE4Iiw3Ljk2MjI4\nNyw3Ljk4OTc1MywxNC4xMjg3NSwtMC45MzYzNDc3LC0wLjg5MjMwOTksMTMuODE0NzEsMjYuOTY2\nNjcsNi4zLDQuODk3MDUzLDExLjcxMDMzLCIxMTozOTowMiIsIjIwMTgtMDktMjciLDQzOC43MDQy\nLDI5LDEzLjU5NTY1LDAuMzIwOTk2MSwxLCIyMDE4MjcwIiwiMTEuNTg4OTQ4Iiw0LjY4LDAuMDY1\nNTUsMC4wMjg0LDAuMDA3NDUsMCwxODExNiw4NzMuNSwxNC4xLDE5NjM5My41LDIuMSw1LjA1LDU3\nMC41LCIxMTM5MjkuMDAiLCIyNyIsIjA5IiwiMjAxOCIsMjEuOTIsMjcuNjMsOTUuMyw1Ny42OCwx\nMDI2LjI4MSwiNTMxOS44NjAyIiwiMDA5NTUuOTE0NiIsNTMuMzMxLC05LjkzMTkxLCIyIiwiMTEi\nLDEzLjc2LDEzLjc4LC0xMzcuMyw2OS44MywzMS42MywzMi43MSwwLjI1LDEuNDY4LDE2LjgyLDEz\nLjc2DQoiMjAxOC0wOS0yNyAxMTo1MDowMCIsMTIxMDQsIiIsIiIsMTQuMDA3MTEsNC4xMDQwNzks\nMC44NzcxLDM0LjE1ODEsIjA5OjM4OjQwLjAzNSIsIjIyLUp1bi0yMDE4Iiw3Ljk2MjIzNSw3Ljk4\nOTg2MSwxNC4xMzQ1NSwtMC45MzYzNDc4LC0wLjg5MjI5ODcsMTMuOTI0MzgsMjYuOSw2LjMsNC44\nOTUyLDExLjcwOTkzLCIxMTo0OTowMiIsIjIwMTgtMDktMjciLDQzNy43MDU2LDI5LjAwMDExLDEz\nLjcwODcyLDAuMzE3MzI0OSwxLCIyMDE4MjcwIiwiMTEuNzU1ODk2Iiw0LjcxNSwwLjA2NjA1LDAu\nMDI4MzUsMC4wMDczNSwwLDE4MTE4LjUsODcyLjUsMTQuMSwxOTYzOTUuNSwyLjE1LDUsNTYzLjUs\nIjExNDkyOS4yMCIsIiIsIiIsIiIsMjAuODcsMjUuMyw5NS44LDU4LjQ0LDEwMjYuMDYsIjUzMTku\nODYwMyIsIjAwOTU1LjkxNDMiLDUzLjMzMSwtOS45MzE5MDUsIjIiLCI5IiwxMy45MSwxMy44OSwt\nMTMuMzksMTczLDM0LjksMzQuNDcsMi40NTIsMy4xNDMsMTYuNzIsMTMuNzcNCiIyMDE4LTA5LTI3\nIDEyOjAwOjAwIiwxMjEwNSwiIiwiIiwxNC4wMTA1Myw0LjEwMjEyOCwwLjg2ODk5OTksMzQuMTM2\nOSwiMDk6NDg6NDAuMDgxIiwiMjItSnVuLTIwMTgiLDcuOTYwMDc4LDcuOTg3ODcxLDE0LjEzNzk5\nLC0wLjkzNjQ2OTIsLTAuODkyNDA5MSwxMy45Nzc3NywyNi44MzMzMyw2LjI5LDQuODk2NTMzLDEx\nLjcxMDE5LCIxMTo1OTowMiIsIjIwMTgtMDktMjciLDQzOC4zMDAyLDI5LjAwMDA2LDEzLjc1Nzk0\nLDAuMzE3MTI5OCwxLCIyMDE4MjcwIiwiMTEuOTIyMjgyIiw0LjkwNSwwLjA2ODc1LDAuMDI4NSww\nLjAwNzUsMCwxODExMC41LDg3My41LDE0LjEsMTk2Mzk3LjUsMi4yLDUsNTYzLjUsIjExNTkyOS4y\nMCIsIjI3IiwiMDkiLCIyMDE4IiwyMC44OSwyNi4yNyw5OC4yLDU4Ljc3LDEwMjYuMDQ5LCI1MzE5\nLjg2MDAiLCIwMDk1NS45MTQxIiw1My4zMzEsLTkuOTMxOTAzLCIyIiwiMTEiLDEzLjk3LDEzLjk0\nLC0zOC41MSwyMDAsMzMuOTcsMzQuNTgsMS43NjYsMy40NTIsMTYuNjMsMTMuODINCg==\n\n--_002_9374e8eb1ee44533a50e0513a1ef7ad1MIEXCH1Marineie_--\n\n`;\n\nreturn {payload: {value: x}}","outputs":1,"noerr":0,"x":180,"y":260,"wires":[["9d83dbcd.526748"]]},{"id":"b9f94a98.7c0a58","type":"inject","z":"785bcf96.6e76f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["4a794ae8.4f71e4"]]},{"id":"efffa105.c1a37","type":"debug","z":"785bcf96.6e76f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":340,"wires":[]},{"id":"f756c30c.c5c7a","type":"function","z":"785bcf96.6e76f","name":"Parse CSV","func":"var csvlines = msg.payload;\nif(csvlines.length < 5){\n    node.send({status: \"err\", err: \"not enough lines in data\", payload: {message: lines.join(\"\\n\")}});\n    return;\n}\nvar parse = global.get('csvparser');\nvar line = \"\";\nwhile(line.trim().length<1){\n    line = csvlines.shift();     \n}\n\nparse(line, {columns: [\"header_type\",\"project\",\"logger_type\",\"logger_serial\",\"logger_version\",\"programme\",\"unknown a\",\"unknown b\"],\n        cast: true}, function(err, output){\n    if(err){\n        node.send({status: \"err\", err: \"could not parse header1: \"+err, payload: line});\n        return;\n    }\n    var metadata = output[0];\n    var datasourceid = metadata.project+\"-\"+metadata.logger_type+\"-\"+metadata.logger_serial;\n    var lines = [csvlines.shift(),csvlines.shift(),csvlines.shift()].join(\"\\n\"); \n    parse(lines, {}, function(err, output){\n        if(err){\n            node.send({status: \"err\", err: \"could not parse header1: \"+err, payload: line});\n            return;\n        }\n        var columns = output[0].map((c)=>c.toLowerCase());\n        var units = output[1];\n        var  types = output[2];\n        parse(csvlines.join(\"\\n\"),{columns: columns, cast: true},function(err,output){\n            if(err){\n                node.send({status: \"err\", err: \"could not parse lines: \"+err, payload: csvlines, columns: columns, metadata: metadata});\n                return;\n            }\n            for(var i=0;i<output.length;i++){\n                var data = output[i];\n                data.timestamp = data.timestamp.replace(' ','T')+\"Z\";\n                var payload = Object.assign({},data, metadata);\n                payload.datasourceid=datasourceid;\n                node.send({status: \"ok\", payload: payload});\n            }            \n        });\n    });\n});\n\n","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["24342488.0cf47c"]]},{"id":"24342488.0cf47c","type":"switch","z":"785bcf96.6e76f","name":"Accept OK messages","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"neq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":180,"wires":[["1ccf317d.8918cf"],["efffa105.c1a37"]]},{"id":"67b32036.b19b5","type":"function","z":"785bcf96.6e76f","name":"Stringify JSON","func":"var payload = JSON.stringify(msg.payload);\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":60,"wires":[["c73a389d.2646b8"]]},{"id":"c73a389d.2646b8","type":"kafka","z":"785bcf96.6e76f","zkquorum":"172.17.1.86:2181,172.17.1.87:2181,172.17.1.88:2181","topics":"compass-buoy-json","debug":"","x":930,"y":220,"wires":[]},{"id":"527be2c2.46c71c","type":"kafka in","z":"785bcf96.6e76f","zkquorum":"172.17.1.86:2181,172.17.1.87:2181,172.17.1.88:2181","topics":"compass-buoy-email","groupId":"nodered01.dm.marine.ie.01","debug":true,"autoCommit":true,"x":70,"y":60,"wires":[["9d83dbcd.526748"]]},{"id":"8d571e98.9b8e8","type":"function","z":"b309ddea.dcf7e","name":"Write csv file","func":"var fs = global.get('fs');\nvar stream = context.get('stream') || fs.createWriteStream(\"/tmp/compassbuoy.csv\", {flags:'a'});\ncontext.set('stream',stream);\nstream.write(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[[]]},{"id":"ecead40a.77de38","type":"csv","z":"b309ddea.dcf7e","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"datasourceid,timestamp,project,logger_type,logger_serial,record,sbe_time,sbe_date,sbe_temp_avg,sbe_conductivity_avg,sbe_pressure_avg,sbe_salinity_avg,seafet_time,seafet_date,seafet_ph_int_avg,seafet_ph_ext_avg,seafet_temp_avg,seafet_int_voltage_avg,seafet_ext_voltage_avg,seafet_vsupply_avg,seafet_isupply_avg,seafet_int_humidity_avg,seafet_v5v_avg,seafet_mbatt_avg,contros_time,contros_date,contros_pco2_avg,contros_tcontrol_avg,contros_voltage_avg,contros_current_avg,contros_status_extpump,suna_yearday,suna_decimaltime,suna_nitrate_conc_avg,suna_nitrogen_avg,suna_absorbance_254nm_avg,suna_absorbance_350nm_avg,suna_bromide_avg,suna_spectrum_avrg_avg,suna_dark_value_avg,suna_int_temp_avg,suna_int_humidity_avg,suna_main_voltage_avg,suna_int_voltage_avg,suna_main_current_avg,airmar_time_gps,airmar_day,airmar_month,airmar_year,airmar_wind_speed_avg,airmar_wind_gust_max,avrg_wind_direction_wvc,airmar_air_temperature_avg,airmar_atmospheric_pressure_avg,airmar_latitude,airmar_longitude,airmar_dd_lat,airmar_dd_long,airmar_gps_quality,airmar_no_of_satelites_used,mppt1_batt_volt_avg,mppt2_batt_volt_avg,mppt1_current_avg,mppt2_current_avg,mppt1_vpv_avg,mppt2_vpv_avg,mppt1_ppv_avg,mppt2_ppv_avg,cr6_temp_avg,cr6_batt_volt_min,header_type,logger_version,programme","skip":"0","x":626,"y":170,"wires":[["8d571e98.9b8e8"]]},{"id":"fd63b943.7f2158","type":"cassandra","z":"b309ddea.dcf7e","mydb":"8ebd00ee.13e12","name":"Write to cassandra","x":830,"y":140,"wires":[[]]},{"id":"42ab05a6.cdc89c","type":"function","z":"b309ddea.dcf7e","name":"Convert to CQL","func":"var fields = \"datasourceid,timestamp,project,logger_type,logger_serial,record,sbe_time,sbe_date,sbe_temp_avg,sbe_conductivity_avg,sbe_pressure_avg,sbe_salinity_avg,seafet_time,seafet_date,seafet_ph_int_avg,seafet_ph_ext_avg,seafet_temp_avg,seafet_int_voltage_avg,seafet_ext_voltage_avg,seafet_vsupply_avg,seafet_isupply_avg,seafet_int_humidity_avg,seafet_v5v_avg,seafet_mbatt_avg,contros_time,contros_date,contros_pco2_avg,contros_tcontrol_avg,contros_voltage_avg,contros_current_avg,contros_status_extpump,suna_yearday,suna_decimaltime,suna_nitrate_conc_avg,suna_nitrogen_avg,suna_absorbance_254nm_avg,suna_absorbance_350nm_avg,suna_bromide_avg,suna_spectrum_avrg_avg,suna_dark_value_avg,suna_int_temp_avg,suna_int_humidity_avg,suna_main_voltage_avg,suna_int_voltage_avg,suna_main_current_avg,airmar_time_gps,airmar_day,airmar_month,airmar_year,airmar_wind_speed_avg,airmar_wind_gust_max,avrg_wind_direction_wvc,airmar_air_temperature_avg,airmar_atmospheric_pressure_avg,airmar_latitude,airmar_longitude,airmar_dd_lat,airmar_dd_long,airmar_gps_quality,airmar_no_of_satelites_used,mppt1_batt_volt_avg,mppt2_batt_volt_avg,mppt1_current_avg,mppt2_current_avg,mppt1_vpv_avg,mppt2_vpv_avg,mppt1_ppv_avg,mppt2_ppv_avg,cr6_temp_avg,cr6_batt_volt_min,header_type,logger_version,programme\".split(\",\");\nvar field_names = fields.join(\",\");\nvar values = [];\nfor(var i=0;i<fields.length;i++){\n    values.push(msg.payload[fields[i]]);\n    fields[i] = \"?\";\n}\nvar placeholders = fields.join(\",\");\nvar topic = \"INSERT INTO buoy (\"+field_names+\") values (\"+placeholders+\")\";\nvar newmsg = {\n    topic: topic,\n    payload: values\n}\nreturn newmsg;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["fd63b943.7f2158"]]},{"id":"95a44215.d76ae","type":"kafka in","z":"b309ddea.dcf7e","zkquorum":"172.17.1.86:2181,172.17.1.87:2181,172.17.1.88:2181","topics":"compass-buoy-json","groupId":"nodered01.dm.marine.ie.01","debug":true,"autoCommit":true,"x":190,"y":120,"wires":[["dbdc4890.c3b0d8"]]},{"id":"dbdc4890.c3b0d8","type":"function","z":"b309ddea.dcf7e","name":"Parse JSON","func":"msg.payload = JSON.parse(msg.payload.value.replace(/NAN/g,''));\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["42ab05a6.cdc89c"]]},{"id":"1ccf317d.8918cf","type":"function","z":"785bcf96.6e76f","name":"Remove wierd NAN values","func":"Object.keys(msg.payload).forEach(function(key){\n    if(msg.payload[key] == \"NAN\"){\n        msg.payload[key] = null;\n    }\n})\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["67b32036.b19b5"]]}]